/* grid */
:root {
  --grid-gutter: 1rem;
}

@media (min-width: 22.5rem) {
  :root {
    --grid-gutter: 1rem;
  }
}

@media (min-width: 48rem) {
  :root {
    --grid-gutter: 1.5rem;
  }
}

@media (min-width: 64rem) {
  :root {
    --grid-gutter: 1.5rem;
  }
}

@media (min-width: 80rem) {
  :root {
    --grid-gutter: 1.5rem;
  }
}

@media (min-width: 90rem) {
  :root {
    --grid-gutter: 1.5rem;
  }
}

@media (min-width: 120rem) {
  :root {
    --grid-gutter: 1.5rem;
  }
}

.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;

    /* Below 48rem, do not show more than 1 card in a row */
    grid-template-columns: repeat(auto-fit, minmax(calc((48rem - 2 * var(--section-margin) - var(--grid-gutter)) / 2), 1fr));
    grid-gap: var(--grid-gutter);
  }

  .cards .cards-card-body {
    margin-top: var(--spacing-vertical-m);
  }

  .cards > ul > li img {
    width: 100%;
    object-fit: cover;
  }

