.text-media-grid {
    margin-top: var(--spacing-vertical-xxl);
    margin-bottom: var(--spacing-vertical-xxl)
}

.text-media-grid__items {
    display: flex;
    flex-direction: column
}

.text-media-grid__items> :not(:last-child) {
    margin-bottom: var(--spacing-vertical-l)
}

.text-media-item-vertical__text {
    margin-top: var(--spacing-vertical-m);
    grid-column: 1/-1
}

@media (min-width: 64rem) {
    .text-media-item-vertical__text {
        grid-column: span 8
    }
}

@media (min-width: 48rem) {
    .text-media-grid__items {
        flex-direction: row
    }

    .text-media-grid__items .text-media-item-vertical__text {
        grid-column: span 12
    }

    .text-media-grid__items> :not(:last-child) {
        margin-right: var(--grid-gutter);
        margin-bottom: 0
    }

}
