:root {
  --header__height: 6rem;
  --header__navigation-area-height: 6rem;
  --header__logo-width-and-height: 3rem;
  --header__overlay-top-offset: 6rem;
  --header__overlay-top-offset-shrink: 4rem;
  --header__meta-hidden-height: 0.1875rem;
  --header__meta-visible-height: 2.5rem
}

@media (min-width: 48rem) {
  :root {
    --header__height: 8.5rem;
    --header__overlay-top-offset: 8.5rem;
    --header__overlay-top-offset-shrink: 4.1875rem
  }
}

@media (min-width: 48rem) {
  .header--got-animated:not(.header--no-top-margin) {
    top: calc(var(--header__meta-hidden-height) - var(--header__meta-visible-height))
  }
}

.header--got-animated .header__meta {
  margin-top: calc(var(--header__meta-hidden-height) - var(--header__meta-visible-height));
}

.header--got-animated .header__navigation-area {
  height: 4rem
}

.header--got-animated .header__logo {
  padding-right: 1rem;
  z-index: 20
}

.header--got-animated .header__megamenu {
  top: var(--header__overlay-top-offset-shrink)
}

.header--got-animated .header__navigation {
  top: var(--header__overlay-top-offset-shrink)
}

.header--got-animated.header--no-top-margin .header__navigation {
  top: calc(var(--header__overlay-top-offset-shrink) - var(--header__meta-hidden-height))
}

.header--no-top-margin .header__navigation {
  top: calc(var(--header__overlay-top-offset) - var(--header__meta-visible-height))
}

.header__meta {
  display: none;
  transition: margin-top ease-out .5s;
}

@media (min-width: 48rem) {
  .header__meta {
    display: block
  }
}

.header__meta > .grid__structure > .grid__column {
  padding-top: 1.5625rem;
  padding-bottom: 1.1875rem
}

@media (min-width: 48rem) {
  .header__meta > .grid__structure > .grid__column {
    padding-top: .5625rem;
    padding-bottom: .4375rem
  }
}

.header__meta .grid__background-column {
  background: var(--bg-color-dark-03);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.header__meta .header__website-area-name {
  grid-column: 1/4;
  line-height: 1.13;
  letter-spacing: .5px;
  z-index: 30
}

@media (min-width: 48rem) {
  .header__meta .header__website-area-name {
    color: var(--text-color-invert-body);
    line-height: 1.5;
    grid-column: 1/5
  }
}

@media (min-width: 64rem) {
  .header__meta .header__website-area-name {
    grid-column: 1/9
  }
}

.header__meta .header__first-level-link {
  padding-top: 0;
  padding-bottom: 0
}

.header__meta .header__first-level-link > .icon {
  top: 45%
}

.header__target_group_identifier {
  font-family: var(--font-family-frutiger);
  font-weight: 900;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: .5px;
  color: var(--text-color-headlines);
  margin-top: var(--spacing-vertical-s);
  margin-bottom: var(--spacing-vertical-xs);
  margin-left: var(--grid-margin);
  margin-right: var(--grid-margin)
}

.header__target_group_identifier::first-letter {
  text-transform: uppercase
}

@media (min-width: 48rem) {
  .header__target_group_identifier {
    font-family: var(--font-family-frutiger);
    font-weight: 300;
    font-style: normal;
    margin-left: .25rem;
    color: var(--text-color-invert-body);
    font-size: 1rem
  }

  .header__target_group_identifier::first-letter {
    text-transform: none
  }
}

.header__utility-links {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  justify-content: space-between
}

@media (min-width: 48rem) {
  .header__utility-links {
    grid-column: 5/-1;
    justify-content: flex-end
  }
}

@media (min-width: 64rem) {
  .header__utility-links {
    grid-column: 9/-1
  }
}

.header__utility-links .header__first-level-link {
  color: var(--text-color-invert-body);
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: .5px;
  text-align: right
}

@media (min-width: 48rem) {
  .header__utility-links .header__first-level-link {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: normal
  }
}

.header__utility-links .header__first-level-link:hover {
  color: var(--interaction-color-link)
}

.header__utility-links .header__first-level-link:focus {
  color: var(--interaction-color-focused)
}

.header section.header__utility-links-in-navigation {
  flex: 1 0 auto
}

.header__navigation-area {
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  height: var(--header__navigation-area-height);
  transition: ease-out .5s;
}

@media (min-width: 48rem)and (max-width: 63.9375rem) {
  .header__navigation-area {
    justify-content: space-between
  }
}

.header__navigation-area::before {
  content: "";
  position: absolute;
  background-color: var(--color-white);
  left: calc(var(--grid-margin) * -1);
  right: calc(var(--grid-margin) * -1);
  top: 0;
  bottom: 0;
  z-index: 15;
  transition: background-color ease-out .5s
}

.header__navigation-area .header__website-area-name {
  align-self: center;
  flex-grow: 1;
  max-width: calc(100% - 9.75rem);
  z-index: 20
}

.header__utility-links .header__first-level-link:not(:last-child), .header__my-zeiss-area .header__first-level-link:not(:last-child) {
  margin-right: 1.875rem
}

@media (min-width: 48rem) {
  .header__navigation .header__first-level-link:not(:last-child) {
    margin-right: 1.875rem
  }
}

.header__navigation {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color-secondary);
  z-index: 10;
  position: fixed;
  top: var(--header__overlay-top-offset);
  left: 0;
  right: 0;
  bottom: 100vh;
  transition: ease-out .5s;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100vw
}

@media (min-width: 64rem) {
  .header__navigation {
    display: block
  }
}

.header__navigation .header__first-level-link {
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 0
}

.header__navigation section {
  border-bottom: 1px solid var(--border-color-inactive);
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  padding-top: calc(var(--spacing-vertical-m) - .625rem);
  padding-bottom: calc(var(--spacing-vertical-m) - .625rem)
}

.header__navigation section:nth-last-child(-n+2) {
  border-bottom: none
}

@media (min-width: 64rem) {
  .header__navigation section {
    border-bottom: 0;
    padding: 0
  }
}

.header__navigation--drilldown-mobile-visible .header__megamenu {
  transition: ease-out .5s;
  position: relative;
  top: 0
}

@media (min-width: 64rem) {
  .header__navigation {
    align-self: center;
    overflow: hidden;
    z-index: 30;
    min-height: auto;
    position: initial;
    width: auto;
    background-color: rgb(0 0 0 / 0%);
    padding-left: 0;
    padding-right: 0
  }

  .header__navigation .header__first-level-link {
    width: auto
  }

  .header__navigation .header__first-level-link:last-child {
    margin-right: 0
  }
}

.header__navigation-separator {
  flex: 1 0 auto;
  border: 0
}

.header section.header__related-websites {
  background-color: var(--bg-color-light-02);
  padding-top: 3rem;
  padding-bottom: 1.625rem;
  flex: 1 1 auto
}

.header section.header__related-websites .related-websites {
  display: block
}

.header section.header__related-websites .related-websites__headline {
  margin-bottom: 1rem
}

.header section.header__related-websites .header__first-level-link {
  margin-left: 0
}

@media (min-width: 64rem) {
  .header--expanded .header__action-area {
    position: relative
  }

  .header--expanded .main-menu-toggle {
    position: absolute;
    right: 0.125rem;
    top: 50%;
    transform: translateY(-50%)
  }
}

.header--expanded, .header--expanded .header__navigation-area::before {
  background-color: var(--bg-color-secondary)
}

.header--mobile-navigation-open .header__navigation {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  bottom: 0
}

@media (min-width: 64rem) {
  .header--mobile-navigation-open .header__navigation {
    overflow-y: auto
  }
}

.header--mobile-navigation-open .header__meta {
  transform: translateY(0)
}

.header__my-zeiss-area {
  grid-column: 4/-1;
  z-index: 20
}

@media (min-width: 64rem) {
  .header__my-zeiss-area {
    flex-grow: 1;
    display: flex;
    align-self: center;
    justify-content: flex-end
  }
}

.header__logo {
  width: var(--header__logo-width-and-height);
  height: var(--header__logo-width-and-height);
  padding-right: 0;
  margin-right: 2.25rem;
  flex-shrink: 0;
  z-index: 20;
  transition: ease-out .5s;
  align-self: center;
  display: flex;
  align-items: center
}

.header__logo > .icon {
  pointer-events: none;
  width: 100%
}

.header__logo.hide {
  transform: translate(-100px, 0);
  opacity: 0;
}

/* No need to hide the logo on wide screens */
@media screen and (min-width: 64rem) {
  .header__logo.hide {
    transform: none;
    opacity: 1;
  }
}

.header__backlink {
  font-family: var(--font-family-frutiger);
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: .5px;
  z-index: 20;
  align-items: center;
  color: var(--interaction-color-link);
  fill: var(--interaction-color-link);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  display: none;
  margin-left: -0.5rem
}

.header__backlink:hover .icon, .header__backlink:focus .icon {
  transform: translateX(calc(var(--spacing-vertical-xxs) * -1))
}

.header__backlink:hover {
  color: var(--interaction-color-hover);
  fill: var(--interaction-color-hover)
}

.header__backlink .icon {
  width: 1.5rem;
  transition: transform .3s ease-in-out
}

.header__backlink.show {
  opacity: 1;
  display: flex;
}

@media (min-width: 64rem) {
  .header__backlink {
    display: none
  }

  /* No need to show the backlink on wide screens */
  .header__backlink.show {
    opacity: 0;
    display: none;
  }

}

.header__website-area-name {
  font-family: var(--font-family-frutiger);
  font-weight: 700;
  font-style: normal;
  color: var(--text-color-headlines);
  font-size: 1rem;
  line-height: 1.25;
  transition: opacity .3s ease-in-out
}

.header--megamenu-open {
  z-index: 5030
}

.header--megamenu-open.header__website-area-name {
  opacity: 0
}

@media (min-width: 48rem) {
  .header--megamenu-open.header__website-area-name {
    opacity: 1
  }
}

.header__action-area {
  display: flex;
  align-self: center;
  flex: 0 1 auto;
  z-index: 20
}

@media (min-width: 48rem) {
  .header__action-area {
    margin-left: 1.875rem
  }
}

.header__action-area a:last-child {
  margin-left: 1.5rem
}

.header__action-area .icon {
  pointer-events: none;
  width: 1.5rem
}

.main-menu-toggle {
  padding-top: 1rem;
  padding-bottom: 1rem
}

@media (min-width: 64rem) {
  .main-menu-toggle {
    display: none
  }

  .header--expanded .main-menu-toggle {
    display: block
  }
}

.main-menu-toggle svg polygon {
  transition: all ease-out .2s;
  transform-origin: center center
}

.main-menu-toggle .svg-scale-wrapper {
  padding-bottom: 100%
}

.header--expanded .main-menu-toggle svg .bottom-line, .header--expanded .main-menu-toggle svg .top-line {
  opacity: 0
}

.header--expanded .main-menu-toggle svg .center-line__1 {
  transform: rotate(45deg)
}

.header--expanded .main-menu-toggle svg .center-line__2 {
  transform: rotate(-45deg)
}

.header__first-level-link {
  font-family: var(--font-family-frutiger);
  font-weight: normal;
  font-style: normal;
  color: var(--text-color-headlines);
  font-size: 1.25rem;
  letter-spacing: .5px;
  line-height: 1.4;
  font-stretch: normal;
  text-decoration: none;
  display: inline-block;
  min-height: 1.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative
}

@media (min-width: 64rem) {
  .header__first-level-link--abbreviation {
    margin-left: 1.75rem
  }
}

@media (min-width: 64rem) {
  .header__first-level-link {
    font-size: 1rem;
    line-height: 1.5
  }
}

@media (min-width: 80rem) {
  .header__first-level-link {
    font-size: 1.25rem;
    line-height: 1.4
  }
}

.header__first-level-link__name-abbreviation {
  font-size: .5rem;
  line-height: 1.25rem;
  letter-spacing: .33px;
  text-align: center;
  color: var(--text-color-invert-body);
  text-transform: uppercase;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 100%;
  background-color: var(--interaction-color-link);
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: .5rem
}

@media (min-width: 64rem) {
  .header__first-level-link__name-abbreviation {
    left: -1.75rem;
    margin-left: 0
  }
}

.header__first-level-link__child-indication {
  width: 1.25rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%)
}

@media (min-width: 48rem) {
  .header__my-zeiss-area .header__first-level-link__child-indication {
    display: none
  }
}

@media (min-width: 64rem) {
  .header__first-level-link__child-indication {
    visibility: hidden;
    z-index: -1
  }
}

.header__first-level-link:hover {
  color: var(--interaction-color-hover)
}

.header__first-level-link:hover::before {
  background-color: var(--interaction-color-hover)
}

.header__first-level-link:hover .icon {
  fill: var(--interaction-color-hover)
}

.header__first-level-link:focus {
  color: var(--interaction-color-focused);
  outline: none
}

.header__first-level-link:focus::before {
  background-color: var(--interaction-color-focused)
}

.header__first-level-link:focus .icon {
  fill: var(--interaction-color-focused)
}

@media (min-width: 64rem) {
  .header__first-level-link--megamenu-open, .header__first-level-link--active {
    position: relative
  }

  .header__first-level-link--megamenu-open::before, .header__first-level-link--active::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: .75rem;
    height: 0.125rem;
    background: var(--bg-color-dark-03)
  }
}

.header__first-level-link--megamenu-open {
  color: var(--interaction-color-focused)
}

.header__first-level-link--megamenu-open::before {
  background: var(--interaction-color-focused)
}

.header__first-level-link--active.header__first-level-link--icon::before {
  left: 1.75rem
}

.header__first-level-link--no-label.header__first-level-link--icon {
  padding-left: 1.5rem
}

.header__first-level-link--icon {
  position: relative;
  padding-left: 1.75rem
}

.header__first-level-link--icon > .icon {
  width: 1.5rem;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%)
}

/* megamenu */
.header__megamenu .button-group .button-link:not(:last-child) {
  margin-bottom: 1rem
}

.header__megamenu .button-group .button-link {
  width: 100%
}

.header__megamenu .button-group .button-link a {
  display: flex;
  flex: 1 0 100%;
  justify-content: center
}

@media (min-width: 48rem) {
  .header__megamenu .button-group .button-link {
    width: auto
  }
}

.header .header__megamenu {
  width: 100vw;
  z-index: 5000;
  flex: 1 0 auto;
  max-height: calc(100vh - var(--header__overlay-top-offset));
  position: fixed;
  top: var(--header__overlay-top-offset);
  overflow-y: scroll;
  left: 100%
}

@media (min-width: 64rem) {
  .header .header__megamenu {
    position: fixed;
    top: var(--header__overlay-top-offset);
    left: 0;
    right: 0;
    max-height: calc(100vh - var(--header__overlay-top-offset));
    height: 0
  }
}

.header .header__megamenu--opened {
  bottom: 0;
  left: 0;
}

@media (min-width: 64rem) {
  .header .header__megamenu--opened {
    height: auto;
    max-height: calc(100vh - var(--header__overlay-top-offset));
    bottom: auto
  }
}

.header .header__megamenu__menu {
  display: none
}

.header .header__megamenu__menu--visible {
  display: block;
}

.header--got-animated .header__megamenu {
  top: var(--header__overlay-top-offset-shrink);
  max-height: calc(100vh - var(--header__overlay-top-offset-shrink))
}

@media (min-width: 64rem) {
  .header--got-animated .header__megamenu {
    top: var(--header__overlay-top-offset-shrink);
    max-height: calc(100vh - var(--header__overlay-top-offset-shrink))
  }
}

@media (min-width: 64rem) {
  .header--got-animated .header__megamenu--opened {
    max-height: calc(100vh - var(--header__overlay-top-offset-shrink))
  }
}

.header--no-top-margin .header__megamenu {
  top: calc(var(--header__overlay-top-offset) - var(--header__meta-visible-height))
}

.header--no-top-margin.header--got-animated .header__megamenu {
  top: calc(var(--header__overlay-top-offset-shrink) - var(--header__meta-hidden-height))
}

.header__megamenu__close-button-container {
  display: none
}

@media (min-width: 64rem) {
  .header__megamenu__close-button-container {
    display: block;
    margin-top: var(--spacing-vertical-s);
    margin-bottom: var(--spacing-vertical-s);
    height: 1.5rem
  }
}

.header__megamenu__close-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer
}

.header__megamenu__close-button:hover {
  fill: var(--interaction-color-hover)
}

.header__megamenu__close-button:focus {
  fill: var(--interaction-color-focused)
}

.header__megamenu__close-button .icon {
  width: 1.5rem;
  height: 1.5rem
}

.header__megamenu__quick-links {
  position: relative;
  padding-top: var(--spacing-vertical-xxl);
  grid-column: 1/-1;
  grid-row: 4
}

.header__megamenu__quick-links::before {
  content: "";
  height: 1px;
  background-color: var(--border-color-inactive);
  position: absolute;
  left: calc(var(--grid-margin) * -1);
  right: calc(var(--grid-margin) * -1);
  top: 0
}

@media (min-width: 48rem) {
  .header__megamenu__quick-links {
    grid-column: 1/3
  }

  .header__megamenu__quick-links::before {
    right: -64rem
  }
}

@media (min-width: 64rem) {
  .header__megamenu__quick-links {
    padding-top: 0;
    grid-column: 9/12;
    grid-row: 2
  }

  .header__megamenu__quick-links::before {
    display: none
  }
}

.header__megamenu__drilldown {
  padding-bottom: 1.75rem
}

@media (min-width: 64rem) {
  .header__megamenu__drilldown {
    padding-bottom: 0
  }
}

.header__megamenu .drilldown__first-level-list-item--active .drilldown__second-level-container {
  background-color: var(--bg-color-secondary)
}

.header__megamenu__first-level-label {
  font-family: var(--font-family-frutiger);
  font-weight: 700;
  font-style: normal;
  font-size: 1.125rem;
  line-height: 1.11;
  color: var(--text-color-headlines);
  margin-bottom: var(--spacing-vertical-l);
  padding-bottom: .5rem
}

@media (min-width: 64rem) {
  .header__megamenu__first-level-label {
    display: none
  }
}

.header__megamenu__backdrop {
  display: none;
  opacity: 0;
  transition: opacity 300ms ease-in;
}

@media (min-width: 64rem) {
  .header__megamenu__backdrop {
    display: block;
    position: fixed;
    top: calc(var(--header__overlay-top-offset));
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-color: rgba(0, 0, 0, .5);
    -webkit-backdrop-filter: blur(0.25rem);
    backdrop-filter: blur(0.25rem);
    z-index: -1;
    cursor: pointer
  }
}

.header__megamenu__menu-container {
  background-color: var(--bg-color-secondary);
  z-index: 15;
  min-height: calc(100vh - var(--header__overlay-top-offset) - 1px);
  transition: height 300ms ease-in-out;
  border: var(--bg-color-secondary);
  border-style: solid;
  border-width: 1px;
}

@media (min-width: 64rem) {
  .header__megamenu__menu-container {
    min-height: auto
  }
}

.header__megamenu__menu-container::before, .header__megamenu__menu-container::after {
  content: "";
  display: block;
  width: 100%;
  height: var(--spacing-vertical-s)
}

@media (min-width: 48rem) {
  .header__megamenu__menu-container::before, .header__megamenu__menu-container::after {
    height: var(--spacing-vertical-l)
  }
}

@media (min-width: 64rem) {
  .header__megamenu__menu-container::before {
    height: 0
  }
}

.header__megamenu__text-entry {
  font-family: var(--font-family-frutiger);
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: .45px;
  margin-bottom: 1.5rem;
  color: var(--text-color-headlines)
}

@media (min-width: 64rem) {
  .header__megamenu__text-entry {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: var(--spacing-vertical-s)
  }
}

@media (min-width: 80rem) {
  .header__megamenu__text-entry {
    font-size: 1.25rem;
    line-height: 1.3;
    letter-spacing: .5px;
    margin-bottom: 1.125rem
  }
}

.header__megamenu__text-entry.header__megamenu__quicklink-headline {
  margin-bottom: .375rem
}

@media (min-width: 64rem) {
  .header__megamenu__text-entry.header__megamenu__quicklink-headline {
    max-width: 16.25rem
  }
}

@media (min-width: 80rem) {
  .header__megamenu__text-entry.header__megamenu__quicklink-headline {
    margin-bottom: .5625rem;
    max-width: 19.375rem
  }
}

.header__megamenu__text-entry.header__megamenu__quicklink-link {
  fill: var(--interaction-color-link);
  transition: margin .3s ease-in-out;
  color: var(--interaction-color-link);
  margin-bottom: 2.25rem;
  display: flex;
  position: relative
}

@media (min-width: 64rem) {
  .header__megamenu__text-entry.header__megamenu__quicklink-link {
    margin-bottom: 1rem;
    max-width: 16.25rem
  }
}

@media (min-width: 80rem) {
  .header__megamenu__text-entry.header__megamenu__quicklink-link {
    font-family: var(--font-family-frutiger);
    font-weight: 500;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.11;
    margin-bottom: 1.75rem;
    max-width: 19.375rem
  }
}

.header__megamenu__text-entry.header__megamenu__quicklink-link:hover {
  color: var(--interaction-color-hover);
  fill: var(--interaction-color-hover)
}

.header__megamenu__text-entry.header__megamenu__quicklink-link:focus {
  color: var(--interaction-color-focused);
  fill: var(--interaction-color-focused)
}

.header__megamenu__text-entry.header__megamenu__quicklink-link .icon {
  width: 1.25rem;
  margin-left: var(--spacing-horizontal-xxs);
  transition: margin-left .2s ease-in-out;
  margin-top: .1875rem;
  flex-shrink: 0
}

@media (min-width: 64rem)and (max-width: 79.9375rem) {
  .header__megamenu__text-entry.header__megamenu__quicklink-link .icon {
    width: 1rem;
    margin-top: .3125rem
  }
}

@media (min-width: 80rem) {
  .header__megamenu__text-entry.header__megamenu__quicklink-link .icon {
    margin-top: 0
  }
}

.header__megamenu__drilldown {
  grid-column: 1/-1
}

.header__megamenu__my-zeiss__welcome-separator {
  border: none;
  height: 0;
  margin: 0
}

.header__megamenu__my-zeiss--welcome {
  margin-bottom: var(--spacing-vertical-xl)
}

@media (min-width: 48rem) {
  .header__megamenu__my-zeiss--welcome {
    margin-bottom: var(--spacing-vertical-l)
  }
}

@media (min-width: 80rem) {
  .header__megamenu__my-zeiss--welcome {
    font-size: 2rem;
    letter-spacing: 1px
  }
}

.header__megamenu__my-zeiss--not-logged-in .headline {
  margin-bottom: var(--spacing-vertical-m)
}

.header__megamenu__my-zeiss--not-logged-in .teaser-list {
  margin-bottom: var(--spacing-vertical-m)
}

@media (min-width: 48rem) {
  .header__megamenu__my-zeiss--not-logged-in .teaser-list {
    margin-bottom: var(--spacing-vertical-l)
  }
}

@media (min-width: 64rem) {
  .header__megamenu__my-zeiss--not-logged-in .teaser-list {
    margin-bottom: 2.25rem
  }
}

.header__megamenu__custom-menu__headline {
  font-family: var(--font-family-frutiger);
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: .5px;
  color: var(--text-color-headlines);
  text-transform: uppercase;
  margin-bottom: var(--spacing-vertical-m)
}

@media (min-width: 64rem) {
  .header__megamenu__custom-menu__headline {
    max-width: 16.25rem
  }
}

@media (min-width: 80rem) {
  .header__megamenu__custom-menu__headline {
    max-width: 19.375rem
  }
}

@media (min-width: 64rem) {
  .header__megamenu__drilldown {
    grid-column: 1/9;
    grid-row: 2
  }

  .header__megamenu__quick-links {
    grid-column: 9/12;
    grid-row: 2
  }
}

.header__megamenu__custom-menu {
  grid-column: 1/-1;
  grid-row: 2
}

.header__megamenu__custom-menu--center {
  grid-row: 3
}

.header__megamenu__custom-menu--right {
  grid-row: 4
}

@media (min-width: 48rem) {
  .header__megamenu__custom-menu--left {
    grid-column: 1/3
  }

  .header__megamenu__custom-menu--center {
    grid-row: 2;
    grid-column: 4/6
  }

  .header__megamenu__custom-menu--right {
    grid-row: 3;
    grid-column: 1/4
  }
}

@media (min-width: 64rem) {
  .header__megamenu__custom-menu {
    grid-row: 2
  }

  .header__megamenu__custom-menu--left {
    grid-column: 1/5
  }

  .header__megamenu__custom-menu--center {
    grid-column: 5/9
  }

  .header__megamenu__custom-menu--right {
    grid-column: 9/-1
  }
}

@media (min-width: 48rem)and (max-width: 63.9375rem) {
  .header_megamenu__menu__structure--narrow .header__megamenu__custom-menu--left {
    grid-row: 1;
    grid-column: 1/3
  }

  .header_megamenu__menu__structure--narrow .header__megamenu__custom-menu--center {
    grid-row: 2;
    grid-column: 1/3
  }

  .header_megamenu__menu__structure--narrow .header__megamenu__custom-menu--right {
    grid-row: 1;
    grid-column: 4/7
  }
}

.header__megamenu__custom-menu__headline {
  font-weight: 600
}

.header__megamenu__custom-menu__headline--icon {
  padding-left: 1.75rem;
  position: relative
}

.header__megamenu__custom-menu__headline .icon {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  left: 0
}

.header__megamenu__custom-menu__item-label--icon {
  margin-right: 1.75rem;
  position: relative
}

.header__megamenu__custom-menu__item-label .icon {
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  right: -1.75rem;
  top: .3125rem
}

.header__megamenu__custom-menu__list-item-container {
  margin-bottom: var(--spacing-vertical-xxl)
}

@media (min-width: 64rem) {
  .header__megamenu__custom-menu > :last-child .header__megamenu__custom-menu__list-item-container {
    margin-bottom: 1.125rem
  }
}

.header__megamenu__custom-menu__first-level-label {
  grid-column: 1/-1
}

.header__megamenu__custom-menu__link {
  display: block
}

@media (min-width: 64rem) {
  .header__megamenu__custom-menu__link {
    max-width: 16.25rem
  }
}

@media (min-width: 80rem) {
  .header__megamenu__custom-menu__link {
    max-width: 19.375rem
  }
}

.header__megamenu__custom-menu__link > span {
  font-family: var(--font-family-frutiger);
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: .45px;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem
}

@media (min-width: 64rem) {
  .header__megamenu__custom-menu__link > span {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: var(--spacing-vertical-s)
  }
}

@media (min-width: 80rem) {
  .header__megamenu__custom-menu__link > span {
    font-size: 1.25rem;
    line-height: 1.3;
    letter-spacing: .5px;
    margin-bottom: 1.125rem
  }
}

.header__megamenu__custom-menu__link:hover > span {
  color: var(--interaction-color-hover)
}

.header__megamenu__custom-menu__list-item--active .header__megamenu__custom-menu__link, .header__megamenu__custom-menu__link:focus {
  outline: none;
  color: var(--interaction-color-focused)
}

/* drilldown */
.drilldown {
  position: relative;
  overflow: hidden;
  display: grid;
  grid-gap: var(--grid-gutter);
  row-gap: 0
}

@media (min-width: 48rem) {
  .drilldown {
    grid-template-columns: repeat(6, 1fr)
  }
}

@media (min-width: 64rem) {
  .drilldown {
    grid-template-columns: repeat(8, 1fr)
  }
}

.drilldown--with-overview .drilldown__first-level-container:not(.drilldown__x-level-container--with-overview), .drilldown--with-overview .drilldown__second-level-container:not(.drilldown__x-level-container--with-overview) {
  padding-top: 3.125rem
}

.drilldown__first-level-container {
  grid-column: 1/-1;
  position: relative
}

@media (min-width: 48rem) {
  .drilldown__first-level-container {
    grid-column: 1/3
  }
}

@media (min-width: 64rem) {
  .drilldown__first-level-container {
    grid-column: 1/4
  }
}

.drilldown__first-level-container > .plain-link {
  display: block
}

.drilldown__second-level-container {
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 100%;
  display: none;
}

.drilldown__first-level-list-item--active .drilldown__second-level-container {
  left: 0;
  display: block;
  z-index: 100
}

@media (min-width: 48rem) {
  .drilldown__first-level-list-item--active .drilldown__second-level-container {
    left: 100%;
    margin-left: var(--grid-gutter);
    transform: translateX(54%)
  }
}

@media (min-width: 64rem) {
  .drilldown__first-level-list-item--active .drilldown__second-level-container {
    margin-left: calc(var(--grid-gutter) * 2);
    transform: translateX(28.5%)
  }
}

@media (min-width: 64rem) {
  .drilldown__second-level-list-item {
    width: 100%;
    left: 100%
  }
}

.drilldown__link {
  display: block;
  position: relative;
  margin-bottom: 1.5rem;
  padding-right: calc(var(--spacing-vertical-s) * 3)
}

.drilldown__link .icon {
  position: absolute;
  right: var(--spacing-horizontal-m);
  top: 0;
  transform: translateX(50%);
  width: 1.5rem;
  transition: right .3s ease-out
}

@media (min-width: 48rem) {
  .drilldown__link .icon {
    right: .25rem
  }
}

@media (min-width: 64rem) {
  .drilldown__link .icon {
    top: .125rem;
    right: .25rem
  }
}

@media (min-width: 80rem) {
  .drilldown__link .icon {
    top: .1875rem
  }
}

.drilldown__link-label {
  font-family: var(--font-family-frutiger);
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.3;
  letter-spacing: .45px;
  margin-bottom: 1.5rem;
  background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
  background-position: 0 1.625rem;
  background-repeat: no-repeat;
  background-size: 0 .125rem;
  transition: background-size .3s ease-out;
  padding-bottom: var(--spacing-vertical-s);
  color: var(--text-color-headlines)
}

@media (min-width: 64rem) {
  .drilldown__link-label {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: var(--spacing-vertical-s)
  }
}

@media (min-width: 80rem) {
  .drilldown__link-label {
    font-size: 1.25rem;
    line-height: 1.3;
    letter-spacing: .5px;
    margin-bottom: 1.125rem
  }
}

@media (min-width: 64rem) {
  .drilldown__link-label {
    background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
    background-position: 0 1.3125rem;
    background-repeat: no-repeat;
    background-size: 0 .125rem;
    transition: background-size .3s ease-out
  }
}

@media (min-width: 80rem) {
  .drilldown__link-label {
    background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
    background-position: 0 1.625rem;
    background-repeat: no-repeat;
    background-size: 0 .125rem;
    transition: background-size .3s ease-out
  }
}

.drilldown__link:hover .drilldown__link-label {
  color: var(--interaction-color-hover)
}

.drilldown__link:hover .icon {
  fill: var(--interaction-color-hover);
  right: calc(var(--spacing-vertical-m) - .25rem)
}

@media (min-width: 48rem) {
  .drilldown__link:hover .icon {
    right: 0
  }
}

@media (min-width: 64rem) {
  .drilldown__link:hover .icon {
    right: 0
  }
}

.drilldown__first-level-list-item--active > .drilldown__link:hover .drilldown__link-label {
  color: var(--interaction-color-hover);
  background-size: 100% .125rem;
  transition-delay: 0s;
  background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%)
}

.drilldown__link:focus .drilldown__link-label {
  color: var(--interaction-color-focused)
}

.drilldown__link:focus .icon {
  fill: var(--interaction-color-focused);
  right: calc(var(--spacing-vertical-m) - .25rem)
}

@media (min-width: 48rem) {
  .drilldown__link:focus .icon {
    right: 0
  }
}

.drilldown__first-level-list-item--active > .drilldown__link:focus .drilldown__link-label {
  color: var(--interaction-color-focused);
  background-size: 100% .125rem;
  transition-delay: 0s;
  background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
  outline: none
}

.drilldown__first-level-list-item--active > .drilldown__link:focus .icon {
  fill: var(--interaction-color-focused);
  right: calc(var(--spacing-vertical-m) - .25rem)
}

@media (min-width: 64rem) {
  .drilldown__first-level-list-item--active > .drilldown__link:focus .icon {
    right: 0
  }
}

.drilldown__first-level-list-item--active > .drilldown__link > .drilldown__link-label {
  color: var(--color-black);
  background-size: 100% .125rem;
  transition-delay: 0s
}
