main .block.hero>div {
  grid-column: 1/-1;
}

@media (min-width: 48rem) {
  main .block.hero>div {
    grid-column: 2/6;
  }
}

@media (min-width: 64rem) {
  main .block.hero>div {
    grid-column: 3/-3;
  }
}