@font-face {
  font-family: "Frutiger Next";
  src: url("/fonts/ZEISSFrutigerNextUI-Reg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Frutiger Next";
  src: url("/fonts/ZEISSFrutigerNextUI-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: "Frutiger Next";
  src: url("/fonts/ZEISSFrutigerNextUI-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Frutiger Next";
  src: url("/fonts/ZEISSFrutigerNextUI-BoldIt.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: "Frutiger Next";
  src: url("/fonts/ZEISSFrutigerNextUI-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Frutiger Next";
  src: url("/fonts/ZEISSFrutigerNextUI-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: "Frutiger Next";
  src: url("/fonts/ZEISSFrutigerNextUI-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap
}
