:root {
  --swiper-theme-color: #007aff;
  --swiper-navigation-size: 2.75rem;
  --bullet-color: var(--bg-color-light-03);
  --animated-bullet-color: var(--bg-color-dark-03);
  --hover-bullet-color: var(--interaction-color-hover);
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  visibility: hidden;
}

.swiper-slide.swiper-slide-active {
  visibility: visible;
}

.carousel .lazy-image__copyright {
  background-color: rgba(255, 255, 255, .6);
  padding-top: var(--spacing-vertical-xxs);
  padding-right: var(--spacing-horizontal-xs);
  padding-bottom: var(--spacing-vertical-xxs);
  padding-left: var(--spacing-horizontal-xs);
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: 100%;
}

.carousel .lazy-image__figcaption {
  position: relative;
  display: flex;
}

.carousel .lazy-image__copyright-text::before {
  content: "©";
  padding-right: var(--spacing-horizontal-xxs);
}

.swiper-button-prev, .swiper-button-next {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled, .swiper-button-next.swiper-button-disabled {
  cursor: auto;
  pointer-events: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.slideshow__navigation-button {
  width: 2.5rem;
  height: 2.5rem;
  box-sizing: content-box;
  padding: .75rem;
  top: 50%;
  margin-top: 0;
  transform: translateY(-50%);
  
}

.slideshow__navigation-button--next {
  right: calc(var(--grid-margin) + var(--spacing-horizontal-s));
  left: auto;
}

.slideshow__navigation-button--right {
  left: calc(var(--grid-margin) + var(--spacing-horizontal-s));
  right: auto;
}

.slideshow__navigation-button::after {
  content: "";
  position: absolute;
  top: .75rem;
  left: .75rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .6);
  transition: transform .25s ease-in-out;
  transform: scale(1);
  transform-origin: center center;
  z-index: -1;
}

.slideshow__navigation-button svg {
  fill: var(--bg-color-dark-03);
}

.slideshow__navigation-button .icon {
  pointer-events: none;
  width: 1.625rem;
}

body:not(.touch-device) .slideshow__navigation-button:hover::after {
  transform: scale(1.2);
}

body:not(.touch-device) .slideshow__navigation-button:hover svg {
  fill: var(--interaction-color-hover);
}

body:not(.touch-device) .slideshow__navigation-button:active::after, body:not(.touch-device) .slideshow__navigation-button:focus::after {
  transform: scale(1);
}

.swiper-button-disabled {
  opacity: .35;
}

@media (min-width: 48rem) {
  .swiper-button-prev, .swiper-button-next {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .carousel:hover .swiper-button-prev, .carousel:hover .swiper-button-next {
    opacity: 1;
  }

  .carousel:hover .swiper-button-disabled {
    opacity: .35;
  }
}

.slideshow__pagination-wrapper {
  display: flex;
  justify-content: center;
  flex: 1 0 100%;
  position: relative;
}

.slideshow__pagination {
  position: relative;
  display: flex;
  flex: 1 0 100%;
}

.slideshow__pagination-bar {
  position: relative;
  display: flex;
  width: 50%;
  max-width: 30rem;
  flex: 0 0 auto;
  height: .25rem;
  margin-top: var(--spacing-vertical-m);
}

@media (min-width: 64rem) {
  .slideshow__pagination-bar {
    width: 25%;
  }
}

.slideshow__pagination-bullet {
  display: flex;
  flex: 1 0 auto;
  position: relative;
  cursor: pointer;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  top: -0.3125rem;
  height: .25rem;
  box-sizing: content-box;
  left: 0%;
}

.slideshow__pagination-bullet--animated::after, .slideshow__pagination-bullet--active::after {
  margin-left: var(--spacing-horizontal-xxs);
  margin-right: var(--spacing-horizontal-xxs);
}

.slideshow__pagination-bullet::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: .3125rem;
  height: .25rem;
  z-index: 0;
  background-color: var(--border-color-inactive);
  transition: background-color .25s ease-in-out;
}

.slideshow__pagination-bullet:hover {
  z-index: 3;
}

.slideshow__pagination-bullet:hover::after {
  background-color: var(--hover-bullet-color);
}

.slideshow__pagination-bullet--animated {
  position: absolute;
  top: -0.3125rem;
  left: 0;
  height: 100%;
  z-index: 11;
  cursor: default;
  transition: left .7s ease-in-out;
}

.slideshow__pagination-bullet--animated::after {
  background-color: var(--border-color-active);
}

.slideshow__pagination-bullet--animated:hover {
  z-index: 11;
}

.slideshow__pagination-bullet--animated:hover::after {
  background-color: var(--border-color-active);
}

.slideshow__item {
  height: auto;
  width: auto;
  box-sizing: content-box;
  flex: 0 1 auto;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  padding-left: 0;
  padding-right: 0;
  flex: 1 0 100%;
}

.image-slideshow {
  position: relative;
  overflow: hidden;
  margin-top: var(--spacing-vertical-xxl);
  margin-bottom: var(--spacing-vertical-xxl);
}
