main .image {
  margin: 0 auto;
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  max-width: 102rem;
  margin-top: var(--spacing-vertical-xxl);
  margin-bottom: var(--spacing-vertical-xxl);
}

main .image .figure {
  text-align: center;
}

main .image .figure img {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

main .image figcaption {
  position: relative;
}

main .image figcaption em:first-of-type {
  background-color: rgba(255,255,255,.6);
  padding-top: var(--spacing-vertical-xxs);
  padding-right: var(--spacing-horizontal-xs);
  padding-bottom: var(--spacing-vertical-xxs);
  padding-left: var(--spacing-horizontal-xs);
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: 100%;
}

main .image figcaption em {
  display: block;
  color: var(--caption-color);
  margin-right: var(--spacing-horizontal-xxs);
  padding-top: var(--spacing-vertical-xs);
  
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.5px;
  color: var(--text-color-body);
  font-family: var(--font-family-frutiger);
  font-weight: normal;
  font-style: normal;
  text-align: left;
}