#art0a {
  grid-area: art0a;
}
#art0b {
  grid-area: art0b;
}
#art1a {
  grid-area: art1a;
}
#art1b {
  grid-area: art1b;
}
#art2a {
  grid-area: art2a;
}
#art2b {
  grid-area: art2b;
}
#art3a {
  grid-area: art3a;
}
#art3b {
  grid-area: art3b;
}

.article-list-items {
  background-color: var(--bg-color-secondary);
  display: grid;
  margin: 0;
  padding: 50px;
  grid-gap: var(--grid-gutter);
  grid-template-columns: 1fr;
  grid-template-areas:
    "arthead"
    "art0a"
    "art0b"
    "art1a"
    "art1b"
    "art2a"
    "art2b";
}

.article-list-items h2 {
  color: var(--headline-color);
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-align: center;
  grid-area: arthead;
}

a:hover .article-list-item-headline{
  text-decoration: underline;
}

.article-list-items img {
  height: 300px;
  object-fit: cover;
}

.article-list-item-eyebrow {
  color: var(--headline-color);
  font-family: var(--font-family-frutiger);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-top: 0.5rem;
}

.article-list-item-headline {
  color: var(--headline-color);
  font-family: var(--font-family-frutiger);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.005rem;
  line-height: 28px;
  padding-top: 0.5rem;
}

.article-list-item-info {
  font-size: 12px;
  letter-spacing: 0.5px;
}

.all-articles {
  padding: 25px;
  background-color: var(--bg-color-primary);
  position: relative;
}

.all-articles h3 {
  color: var(--headline-color);
  font-family: var(--font-family-frutiger);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.1px;
}

.all-articles p {
  margin-top: 25px;
  margin-bottom: 20px;
  letter-spacing: 0.5px;
  line-height: 28px;
}

.all-articles a {
  font-family: var(--font-family-frutiger);
  font-weight: 500;
  letter-spacing: 0.5px;
}

.all-articles svg {
  fill: var(--button-tertiary-text-default);
  margin-bottom: -8px;
  padding: 0;
  height: 24px;
  width: 24px;
}

@media (min-width: 48rem) {
  .article-list-items {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "arthead arthead"
      "art0a art1a"
      "art0b art1b"
      "art2a art2a";
  }
}

@media (min-width: 64rem) {
  .article-list-items {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      " . arthead ."
      "art0a art1a art2a"
      "art0b art1b art2b";
  }

  .all-articles p {
    font-size: 20px;
  }

  .all-articles a {
    position: absolute;
    bottom: 30px;
  }
}

@media (min-width: 80rem) {
  .article-list-items {
    margin: 2%;
  }
}

