/* accordion */
.accordion {
  border-top: 2px solid var(--border-color-active);
  border-bottom: 2px solid var(--border-color-active)
}

.accordion--js-init .accordion__content-container {
  height: 0;
  display: none
}

.accordion--js-init .accordion__content-container--opened {
  height: auto
}

.accordion__item {
  border-top: 1px solid var(--border-color-inactive);
  padding-top: .125rem;
  padding-bottom: .125rem
}

.accordion__item:first-child {
  border-top: none
}

.accordion__button {
  cursor: pointer;
  border: none;
  pointer-events: none;
  width: 100%;
  background: none;
  transition: background-color 400ms;
  padding: var(--spacing-vertical-m) 0
}

.accordion .accordion--js-init .accordion__button {
  pointer-events: initial
}

.accordion__button:hover, .accordion__button:focus {
  background-color: var(--bg-color-light-01);
  outline: none
}

.accordion__button-container {
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between
}

@media (min-width: 48rem) {
  .accordion__button-container {
    padding-left: .125rem;
    padding-right: .125rem
  }
}

.accordion__button-container .accordion__header_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: var(--spacing-horizontal-s)
}

.accordion__button-container .accordion__header_info .accordion__header_icon .icon {
  width: 3rem
}

.accordion__button-container .accordion__header_info .accordion__sub_headline {
  color: var(--text-color-headlines)
}

.accordion__button-container .accordion__header-text {
  text-align: left
}

.accordion__headline {
  pointer-events: none;
  flex: 1 1 auto
}

.accordion__icon {
  pointer-events: none;
  display: none;
  flex: 0 0 var(--spacing-horizontal-m);
  margin-left: var(--spacing-horizontal-xs)
}

.accordion .accordion--js-init .accordion__icon {
  display: block
}

.accordion__icon .icon svg {
  fill: var(--text-color-headlines)
}

.accordion__content-container {
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin);
  overflow: hidden
}

@media (min-width: 48rem) {
  .accordion__content-container {
    padding-left: .125rem;
    padding-right: .125rem
  }
}

.no-js .accordion__content-container {
  display: block;
  overflow: visible
}

.accordion .accordion__indented-content {
  margin-left: 0
}

@media (min-width: 48rem) {
  .accordion .accordion__indented-content {
    margin-left: 4rem
  }
}

.accordion-item {
  margin-top: var(--spacing-vertical-s);
  margin-bottom: var(--spacing-vertical-l)
}

.accordion-item__introduction-container .grid__structure {
  margin-bottom: var(--spacing-vertical-l)
}

.accordion-item__introduction-container .grid__column {
  grid-column: span 8
}

.accordion-item__subheadline {
  color: var(--text-color-headlines);
  display: block;
  margin-bottom: var(--spacing-vertical-s)
}

.accordion-item__text {
  margin-top: var(--spacing-vertical-s);
  margin-bottom: var(--spacing-vertical-s)
}

.accordion-item__link {
  margin-top: var(--spacing-vertical-s)
}

.accordion-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-vertical-l)
}

.accordion-item__content > div {
  width: 100%
}

.accordion-item__content .text-media-grid {
  margin: 0
}

.accordion-item__content .multiple-text-teaser {
  margin: 0
}

.accordion-item__content .grid__container {
  padding-left: 0;
  padding-right: 0
}

.accordion-item-column-layout {
  margin-top: var(--spacing-vertical-s);
  margin-bottom: var(--spacing-vertical-l)
}

.accordion-item-column-layout .grid__column {
  grid-column: span 8
}

.accordion-item-column-layout__text {
  margin-top: var(--spacing-vertical-s);
  margin-bottom: var(--spacing-vertical-s)
}

.accordion-item-column-layout__link {
  margin-bottom: var(--spacing-vertical-l)
}

.accordion-item-side-by-side {
  padding-top: var(--spacing-vertical-l);
  padding-bottom: var(--spacing-vertical-l)
}

.accordion-item-simple {
  margin-top: var(--spacing-vertical-s);
  margin-bottom: var(--spacing-vertical-l)
}

.accordion-item-simple .grid__column {
  grid-column: span 8
}

.accordion-item-simple__subheadline {
  color: var(--text-color-headlines);
  display: block;
  margin-bottom: var(--spacing-vertical-s)
}

.accordion-item-simple__link {
  margin-top: var(--spacing-vertical-s)
}

.accordion-item-simple__media {
  margin-top: var(--spacing-vertical-l)
}

.accordion-item-table {
  margin-top: var(--spacing-vertical-s);
  margin-bottom: var(--spacing-vertical-l)
}

.accordion-item-table .grid__column {
  grid-column: span 8
}

.accordion-item-table__subheadline {
  color: var(--text-color-headlines);
  display: block;
  margin-bottom: var(--spacing-vertical-s)
}

.accordion-item-table__table {
  margin-top: var(--spacing-vertical-l)
}

.accordion-links a {
  font-family: var(--font-family-frutiger);
  font-weight: 300;
  font-style: normal;
  display: block;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: .5px;
  color: var(--text-color-headlines);
  margin-bottom: var(--spacing-vertical-l);
  text-decoration: none
}

.accordion-links a:first-child {
  margin-top: .75rem
}

.accordion-links a:last-child {
  margin-bottom: 1.375rem
}

.accordion-links a:hover {
  color: var(--interaction-color-hover)
}

.accordion-links a:focus {
  color: var(--interaction-color-focused)
}

@media (min-width: 48rem) {
  .accordion-links a {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: normal;
    margin-bottom: var(--spacing-vertical-s)
  }

  .accordion-links a:first-child {
    margin-top: 0
  }

  .accordion-links a:last-child {
    margin-bottom: 0
  }
}

@media (min-width: 90rem) {
  .accordion-links a {
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: .5px;
    margin-bottom: var(--spacing-vertical-m)
  }
}

/* breadcrumd */
.breadcrumb__list-wrapper {
  display: flex;
  width: 100%;
  flex-wrap: wrap
}

.breadcrumb__list-wrapper--less-than-two .breadcrumb__list-item:last-child {
  padding-left: 0
}

.breadcrumb__list-wrapper--less-than-two .breadcrumb__list-item:last-child .icon {
  display: none
}

.breadcrumb__list-item {
  position: relative;
  white-space: nowrap;
  flex: 0 0 auto
}

.breadcrumb__list-item:not(.breadcrumb__list-expander) {
  padding-right: 2.25rem
}

.breadcrumb__list-item:last-child {
  padding-right: 0
}

.breadcrumb__list-item:last-child .icon {
  display: none
}

.breadcrumb__list-item .icon {
  position: absolute;
  width: 1rem;
  right: 1.125rem;
  top: 0.188rem;
  transform: translateX(50%)
}

@media (min-width: 90rem) {
  .breadcrumb__list-item .icon {
    width: 1.125rem
  }
}

.breadcrumb__list-item .icon svg {
  fill: var(--interaction-color-link)
}

.breadcrumb__list-expander {
  color: var(--interaction-color-link);
  font-size: .875rem;
  line-height: 1.6;
  letter-spacing: .5px;
  text-decoration: none;
  cursor: pointer;
  display: none
}

.breadcrumb__list-expander:hover {
  color: var(--interaction-color-hover)
}

.breadcrumb__list-expander:focus {
  color: var(--interaction-color-focused);
  outline: none
}

.breadcrumb__link-item {
  color: var(--interaction-color-link);
  font-size: .875rem;
  line-height: 1.6;
  letter-spacing: .5px;
  text-decoration: none;
  display: block
}

.breadcrumb__link-item:hover {
  color: var(--interaction-color-hover)
}

.breadcrumb__link-item:focus {
  color: var(--interaction-color-focused);
  outline: none
}

@media (min-width: 90rem) {
  .breadcrumb__link-item {
    font-size: 1rem
  }
}

@media (max-width: 47.9375rem) {
  .breadcrumb__list-wrapper {
    flex-wrap: nowrap
  }

  .breadcrumb__list-expander {
    display: list-item
  }

  .breadcrumb--expanded .breadcrumb__list-expander {
    display: none
  }

  .breadcrumb--expanded .breadcrumb__list-wrapper {
    flex-wrap: wrap
  }

  .breadcrumb--expanded .breadcrumb__list-item:not(.breadcrumb__list-expander) {
    display: list-item
  }

  .breadcrumb--expanded .breadcrumb__list-item:last-child {
    padding-left: 0
  }

  .breadcrumb--expanded .breadcrumb__list-item:last-child .icon {
    display: none
  }

  .breadcrumb__list-item:not(.breadcrumb__list-expander) {
    padding-right: 2.25rem;
    display: none
  }

  .breadcrumb__list-item:first-child, .breadcrumb__list-item:last-child {
    display: list-item
  }

  .breadcrumb__list-item:last-child {
    padding-right: 0;
    padding-left: 2.25rem;
    flex: 0 1 auto;
    min-width: 0
  }

  .breadcrumb__list-item:last-child .breadcrumb__link-item {
    text-overflow: ellipsis;
    overflow: hidden
  }

  .breadcrumb__list-item:last-child .icon {
    right: auto;
    left: 1.125rem;
    transform: translateX(-50%);
    display: block
  }
}

/* to-top */
.to-top__link {
  color: var(--interaction-color-link);
  font-size: .875rem;
  line-height: 1.6;
  letter-spacing: .5px;
  text-decoration: none;
  display: flex;
  flex-wrap: nowrap
}

@media (min-width: 90rem) {
  .to-top__link {
    font-size: 1rem
  }
}

.to-top__link:hover {
  color: var(--interaction-color-hover)
}

.to-top__link:hover .icon {
  fill: var(--interaction-color-hover)
}

.to-top__link:focus {
  color: var(--interaction-color-focused);
  outline: none
}

.to-top__link:focus .icon {
  fill: var(--interaction-color-focused)
}

.to-top__link-text {
  display: none;
  padding-right: var(--spacing-horizontal-xs)
}

@media (min-width: 48rem) {
  .to-top__link-text {
    display: block
  }
}

.to-top .icon {
  width: 1.125rem;
  fill: var(--interaction-color-link);
  margin-top: 1px
}

@media (min-width: 90rem) {
  .to-top .icon {
    width: 1.25rem
  }
}

/* related-websites */
.related-websites {
  display: flex
}

.related-websites__headline {
  line-height: 1.6
}

.related-websites .header__first-level-link {
  padding-top: 0;
  padding-bottom: 0;
  margin-left: var(--spacing-horizontal-m)
}

/* footer */
.footer__background-column {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}

.footer__disclaimer {
  margin-top: var(--spacing-vertical-xxl)
}

.footer__breadcrumb-and-to-top {
  margin-top: var(--spacing-vertical-xxl);
  margin-bottom: var(--spacing-vertical-l)
}

.footer__breadcrumb-and-to-top .grid__column {
  display: flex;
  justify-content: space-between;
  width: 100%
}

.footer__breadcrumb-and-to-top .breadcrumb {
  min-width: 0
}

.footer__breadcrumb-and-to-top .to-top {
  white-space: nowrap;
  padding-left: var(--spacing-horizontal-s)
}

.footer__related-websites .footer__background-column {
  background-color: var(--bg-color-light-02)
}

.footer__related-websites .related-websites {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem
}

@media (min-width: 90rem) {
  .footer__related-websites .related-websites {
    padding-top: 1.8125rem
  }
}

.footer__related-websites .related-websites__headline, .footer__related-websites .header__first-level-link {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--text-color-headlines)
}

@media (min-width: 90rem) {
  .footer__related-websites .related-websites__headline, .footer__related-websites .header__first-level-link {
    font-size: 1.25rem;
    line-height: 1.2
  }
}

@media (min-width: 48rem) {
  .footer__related-websites .header__first-level-link {
    font-family: var(--font-family-frutiger);
    font-weight: 300;
    font-style: normal;
    margin-left: var(--spacing-horizontal-l);
    letter-spacing: normal
  }
}

@media (min-width: 90rem) {
  .footer__related-websites .header__first-level-link {
    margin-left: var(--spacing-horizontal-l);
    letter-spacing: .5px
  }
}

@media (min-width: 48rem) {
  .footer__related-websites .related-websites__headline {
    letter-spacing: 0
  }
}

@media (min-width: 64rem) {
  .footer__related-websites .related-websites__headline {
    line-height: 1.5;
    letter-spacing: .5px
  }
}

.footer__main-footer .accordion {
  border-top: none;
  border-bottom: 1px solid var(--bg-color-light-03);
  margin-left: calc(var(--grid-margin) * -1);
  margin-right: calc(var(--grid-margin) * -1)
}

@media (min-width: 48rem) {
  .footer__main-footer .accordion {
    border-bottom: 0;
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin)
  }
}

.footer__main-footer .accordion__item .accordion__button:hover, .footer__main-footer .accordion__item .accordion__button:focus {
  background-color: rgba(0, 0, 0, 0)
}

.footer__main-footer .accordion__button {
  font-family: var(--font-family-frutiger);
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  color: var(--text-color-headlines);
  line-height: 1.25rem;
  font-size: 1rem;
  letter-spacing: .5px;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  background-color: rgba(0, 0, 0, 0)
}

@media (min-width: 48rem) {
  .footer__main-footer .accordion__button {
    font-size: .875rem;
    padding: 0;
    margin-bottom: var(--spacing-vertical-m);
    letter-spacing: .44px
  }
}

.footer__main-footer .grid__column--33 {
  grid-column: 1/-1
}

@media (min-width: 48rem) {
  .footer__main-footer .grid__column--33 {
    padding-left: var(--spacing-horizontal-m)
  }
}

@media (min-width: 48rem) {
  .footer__main-footer .grid__column--33 {
    grid-column: 1/3
  }

  .footer__main-footer .grid__column--33:nth-child(2) {
    grid-column: 3/5
  }

  .footer__main-footer .grid__column--33:nth-child(3) {
    grid-column: 5/-1
  }
}

@media (min-width: 64rem) {
  .footer__main-footer .grid__column--33 {
    grid-column: 1/5
  }

  .footer__main-footer .grid__column--33:nth-child(2) {
    grid-column: 5/9
  }

  .footer__main-footer .grid__column--33:nth-child(3) {
    grid-column: 9/-1
  }
}

.country-switch-list__link {
  color: var(--text-color-headlines);
  background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
  background-position: 0 1.25rem;
  background-repeat: no-repeat;
  background-size: 0 0.125rem;
  transition: background-size .3s ease-out;
}

.country-switch-list__link:hover, .country-switch-list__link:focus {
  color: var(--color-black);
  background-size: 100% 0.125rem;
  transition-delay: 0s;
}

.country-switch-list__li--active .country-switch-list__link {
  color: var(--color-black);
  background-size: 100% 0.125rem;
  transition-delay: 0s;
}

.footer__main-footer .footer__background-column {
  background-color: var(--bg-color-secondary)
}

@media (min-width: 48rem) {
  .footer-country-switch .accordion__button {
    text-transform: unset;
  }

  .footer-country-switch .accordion__button-container {
    padding-left: 0;
  }

  .footer-country-switch .accordion>ul {
    display: grid;
  }

  .country-switch-list p {
    margin-bottom: var(--spacing-vertical-xs);
    font-weight: 700;
  }

  .footer-country-switch .accordion__item {
    border-top: none;
    padding-left: var(--grid-gutter);
    margin-top: var(--spacing-vertical-m);
  }

  .footer-country-switch .accordion__item:first-child {
    grid-column: 1/3;
  }

  .footer-country-switch .accordion__item:nth-child(2) {
    padding-right: var(--grid-gutter);
    grid-column: 3 / calc(var(--grid-columns) + 1);
  }

  .footer-country-switch .accordion__content-container {
    padding-left: initial;
    padding-right: initial;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-country-switch .accordion__button {
    margin-bottom: 0;
  }

  .country-switch-list__grid {
    margin-top: var(--spacing-vertical-l);
    margin-bottom: var(--spacing-vertical-l);
  }
}

@media (min-width: 64rem) {
  .footer-country-switch .accordion__item:first-child {
    grid-column: 1/5;
  }

  .footer-country-switch .accordion__item:nth-child(2) {
    grid-column: 5/calc(var(--grid-columns) + 1);
  }
}

@media (min-width: 48rem) {
  .footer__navigation {
    margin-bottom: var(--spacing-vertical-l)
  }

  .footer__navigation:first-child {
    margin-top: var(--spacing-vertical-l)
  }
}

.footnote {
  margin-top: var(--spacing-vertical-l);
  margin-bottom: var(--spacing-vertical-xxl)
}

.footnote__column {
  grid-column: 1/-1
}

.footnote__item {
  margin-bottom: var(--spacing-vertical-xs)
}

.footnote__item:last-of-type {
  margin-bottom: 0
}

/* footer legal */
.footer-disclaimer {
  font-size: 0.75rem;
  line-height: 1.125rem;
  letter-spacing: 0.5px;
  width: 100%;
  color: var(--text-color-body)
}

.footer-disclaimer::before {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  background-color: var(--border-color-active);
  margin-bottom: var(--spacing-vertical-m)
}

.footer-legal-links {
  color: var(--color-white)
}

.footer-legal-links__background-column {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color-dark-03)
}

.footer-legal-links .accordion {
  border: none
}

.footer-legal-links .accordion__button {
  font-family: var(--font-family-frutiger);
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  font-size: 1rem;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: .5px;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem
}

.footer-legal-links .accordion__button:hover, .footer-legal-links .accordion__button:focus {
  background-color: rgba(0, 0, 0, 0)
}

.footer-legal-links .accordion__button svg {
  fill: var(--color-white)
}

@media (min-width: 48rem) {
  .footer-legal-links .accordion__button {
    display: none
  }
}

.footer-legal-links .accordion__content-container, .footer-legal-links .accordion__item .accordion__button .accordion__button-container {
  padding-left: 0;
  padding-right: 0
}

.footer-legal-links .accordion__item .accordion__button .accordion__button-container .accordion__headline {
  color: var(--color-white)
}

.footer-legal-links__tooltip, .footer-legal-links .accordion-links a {
  font-family: var(--font-family-frutiger);
  font-weight: 300;
  font-style: normal;
  color: var(--color-white);
  font-size: 1.25rem;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: .5px;
  margin-bottom: var(--spacing-vertical-l)
}

@media (min-width: 48rem) {
  .footer-legal-links__tooltip, .footer-legal-links .accordion-links a {
    font-family: var(--font-family-frutiger);
    font-weight: normal;
    font-style: normal;
    font-size: .875rem;
    line-height: 1.71;
    letter-spacing: normal;
    display: inline-block;
    margin-bottom: 0;
    margin-left: var(--spacing-horizontal-l);
    padding-top: .375rem;
    padding-bottom: .4375rem
  }

  .footer-legal-links__tooltip:first-child, .footer-legal-links .accordion-links a:first-child {
    margin-left: 0
  }
}

.footer-legal-links__tooltip {
  position: relative;
  margin-bottom: var(--spacing-vertical-s)
}

.footer-legal-links__tooltip .icon {
  display: none
}

.footer-legal-links__tooltip-text {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
  display: block;
  margin-top: var(--spacing-vertical-s)
}

@media (min-width: 48rem) {
  .footer-legal-links .accordion__content-container {
    overflow: visible;
    display: flex;
    justify-content: space-between
  }

  .footer-legal-links__tooltip {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 1.375rem;
    cursor: help
  }

  .footer-legal-links__tooltip:hover {
    text-decoration: underline
  }

  .footer-legal-links__tooltip .icon {
    position: absolute;
    display: block;
    width: 1.125rem;
    left: 0;
    top: .5rem;
    fill: var(--color-white)
  }

  .footer-legal-links__tooltip-text {
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.5px;
    box-shadow: var(--elevation-low);
    position: absolute;
    visibility: hidden;
    padding: var(--spacing-vertical-xs);
    width: 20rem;
    bottom: 2.625rem;
    right: 0;
    opacity: 0;
    transition: all .5s ease-out;
    z-index: 1000;
    background-color: var(--bg-color-dark-01);
    color: var(--text-color-invert-body)
  }

  .footer-legal-links__tooltip-text::after {
    box-shadow: var(--elevation-low);
    content: "";
    width: 0;
    height: 0;
    border: .5rem solid rgba(0, 0, 0, 0);
    border-width: 0 .5rem;
    border-top: .6875rem solid var(--bg-color-dark-01);
    position: absolute;
    bottom: 0;
    right: var(--spacing-horizontal-xs);
    transform: translateY(100%)
  }

  .footer-legal-links__tooltip:hover .footer-legal-links__tooltip-text {
    visibility: visible;
    opacity: 1
  }
}

/* footer tabs */
@media (min-width: 48rem) {
  .footer-tabs {
    margin-top: var(--spacing-vertical-m);
    margin-bottom: var(--spacing-vertical-m)
  }
}

.footer-tabs__tab {
  position: relative;
  grid-column: 1/-1;
  border-top: 1px solid var(--bg-color-light-03);
  margin-left: calc(var(--grid-margin) * -1);
  margin-right: calc(var(--grid-margin) * -1);
  padding-left: var(--grid-margin);
  padding-right: var(--grid-margin)
}

.footer-tabs__tab:first-child {
  border-top: none
}

.footer-tabs__tab--active + .footer-tabs__tab-content-container {
  height: auto
}

@media (min-width: 48rem) {
  .footer-tabs__tab {
    box-shadow: var(--elevation-low);
    background-color: var(--color-white);
    z-index: 10;
    grid-column: 1/4;
    grid-row: 1;
    border-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0
  }

  .footer-tabs__tab--active.footer-tabs__tab::before {
    height: var(--spacing-vertical-s);
    transform: translateY(100%)
  }

  .footer-tabs__tab::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    transform: translateY(0);
    background-color: var(--color-white);
    transition: all .1s linear
  }
}

@media (min-width: 64rem) {
  .footer-tabs__tab {
    grid-column: 1/7
  }
}

@media (min-width: 48rem) {
  .footer-tabs__tab:nth-child(3) {
    grid-column: 4/-1
  }
}

@media (min-width: 64rem) {
  .footer-tabs__tab:nth-child(3) {
    grid-column: 7/-1
  }
}

.footer-tabs__tab-title {
  cursor: pointer;
  z-index: 10;
  padding-top: 1.0625rem;
  padding-bottom: .875rem;
  position: relative
}

@media (min-width: 48rem) {
  .footer-tabs__tab-title {
    padding-left: var(--spacing-horizontal-m);
    padding-right: var(--spacing-horizontal-m);
    padding-top: 1.0625rem;
    padding-bottom: .8125rem
  }
}

.footer-tabs__tab-title__eyebrow {
  font-family: var(--font-family-frutiger);
  font-weight: 500;
  font-style: normal;
  font-size: .875rem;
  line-height: 1.43;
  letter-spacing: .44px;
  color: var(--text-color-body);
  margin-bottom: var(--spacing-vertical-xxs)
}

@media (min-width: 48rem) {
  .footer-tabs__tab-title__eyebrow {
    font-size: 1rem;
    letter-spacing: .5px;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;
    letter-spacing: 0;
  }
}

.footer-tabs__tab-title__selection {
  font-family: var(--font-family-frutiger);
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.2;
  letter-spacing: .5px;
  color: var(--text-color-headlines)
}

@media (min-width: 48rem) {
  .footer-tabs__tab-title__selection {
    font-size: 1rem;
    line-height: 1.5
  }
}

@media (min-width: 90rem) {
  .footer-tabs__tab-title__selection {
    font-size: 1.25rem;
    line-height: 1.2
  }
}

.footer-tabs__tab-title .icon {
  width: 1.5rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}

@media (min-width: 48rem) {
  .footer-tabs__tab-title .icon {
    right: var(--spacing-horizontal-m)
  }
}

.footer-tabs__tab-title .icon.is-active {
  transform: translate(0%, -50%) rotate(180deg);
}

.footer-tabs__tab-content-container {
  grid-column: 1/-1;
  position: relative;
  z-index: 5;
  height: 0;
  overflow: hidden;
  grid-row: initial
}

@media (min-width: 48rem) {
  .footer-tabs__tab-content-container {
    box-shadow: var(--elevation-low);
    background-color: var(--color-white);
    margin-top: var(--spacing-vertical-s);
    grid-row: 2
  }
}

.footer-tabs__tab-content-container--opened {
  height: auto
}

.footer-tabs__tab-content {
  height: 0;
  opacity: 0;
  overflow: hidden
}

.footer-tabs__tab-content.grid-structure {
  margin-top: 0;
  margin-bottom: 0
}

@media (min-width: 48rem) {
  .footer-tabs__tab-content {
    transition: all .8s ease-out
  }
}

.footer-tabs__tab-content--visible {
  height: auto;
  opacity: 1
}

.footer-tabs__website-area .footer-tabs__tab-content {
  margin-top: 1.625rem
}

@media (min-width: 48rem) {
  .footer-tabs__website-area .footer-tabs__tab-content {
    padding-top: var(--spacing-vertical-m);
    margin-top: 0
  }
}

.footer-tabs__website-area__list li {
  margin-bottom: var(--spacing-vertical-l)
}

@media (min-width: 48rem) {
  .footer-tabs__website-area__list li {
    margin-bottom: var(--spacing-vertical-s)
  }
}

@media (min-width: 90rem) {
  .footer-tabs__website-area__list li {
    margin-bottom: var(--spacing-vertical-m)
  }
}

.footer-tabs__website-area__link {
  font-family: var(--font-family-frutiger);
  font-weight: 300;
  font-style: normal;
  color: var(--text-color-headlines);
  font-size: 1.25rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: .5px;
  text-decoration: none;
  position: relative;
  display: inline;
  outline: none;
  padding-bottom: .375rem;
  background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
  background-position: 0 1.25rem;
  background-repeat: no-repeat;
  background-size: 0 .125rem;
  transition: background-size .3s ease-out
}

.footer-tabs__website-area__link--active {
  color: var(--color-black);
  background-size: 100% .125rem;
  transition-delay: 0s
}

.footer-tabs__website-area__link:hover {
  color: var(--interaction-color-hover);
  background-size: 100% .125rem;
  transition-delay: 0s;
  background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%)
}

.footer-tabs__website-area__link:focus {
  color: var(--interaction-color-focused);
  background-size: 100% .125rem;
  transition-delay: 0s;
  background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%)
}

@media (min-width: 48rem) {
  .footer-tabs__website-area__link {
    font-size: 1rem;
    line-height: 1.5
  }
}

@media (min-width: 90rem) {
  .footer-tabs__website-area__link {
    font-size: 1.25rem;
    line-height: 1.2;
    background-position: 0 1.5rem
  }
}

.footer-tabs .country-switch {
  border-bottom: solid 1px var(--bg-color-light-03)
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch {
    border-bottom: none
  }
}

.footer-tabs .country-switch.grid__container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0
}

.footer-tabs .country-switch__first-level-container, .footer-tabs .country-switch__second-level-container {
  grid-column: 1/-1
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-container, .footer-tabs .country-switch__second-level-container {
    grid-column: 1/3;
    margin-top: var(--spacing-vertical-m);
    overflow: visible
  }
}

@media (min-width: 64rem) {
  .footer-tabs .country-switch__first-level-container, .footer-tabs .country-switch__second-level-container {
    grid-column: 1/5
  }
}

.footer-tabs .country-switch__link {
  font-size: 1rem;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: .5px;
  color: var(--text-color-headlines);
  text-decoration: none;
  display: block;
  position: relative;
  padding-left: var(--spacing-horizontal-m);
  padding-right: var(--spacing-horizontal-m)
}

.footer-tabs .country-switch__link .icon {
  width: 1.5rem;
  position: absolute;
  right: var(--spacing-horizontal-m);
  top: 50%;
  transform: translateY(-50%) rotate(90deg)
}

.footer-tabs .country-switch__first-level-list-item--active .country-switch__second-level-container, .footer-tabs .country-switch__first-level-list-item--animating .country-switch__second-level-container {
  height: auto;
  display: block
}

.footer-tabs .country-switch__first-level-list-item > .country-switch__link {
  font-family: var(--font-family-frutiger);
  font-weight: 500;
  font-style: normal;
  line-height: 1.25;
  text-transform: uppercase;
  border-top: solid 1px var(--bg-color-light-03);
  position: relative;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-list-item > .country-switch__link {
    text-transform: none
  }
}

.footer-tabs .country-switch__second-level-list-item {
  opacity: 0;
  transform: translate(-30px, 0px);
  transition: all 200ms ease-in;
}

.footer-tabs .country-switch__second-level-list-item.country-switch__second-level-list-item--active {
  transform: translate(0px, 0px);
  opacity: 1;
}

.footer-tabs .country-switch__second-level-list-item > .country-switch__link {
  font-family: var(--font-family-frutiger);
  font-weight: 300;
  font-style: normal;
  font-size: 1.25rem;
  line-height: 1.2;
  padding-top: 1rem;
  padding-bottom: 1.25rem
}

.footer-tabs .country-switch__second-level-list-item > .country-switch__link:first-child {
  padding-top: .75rem
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__second-level-list-item > .country-switch__link:first-child {
    padding-top: 0
  }
}

@media (min-width: 48rem)and (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-list-item, .footer-tabs .country-switch__second-level-list-item {
    padding-bottom: var(--spacing-vertical-s)
  }
}

@media (min-width: 48rem)and (min-width: 90rem) {
  .footer-tabs .country-switch__first-level-list-item, .footer-tabs .country-switch__second-level-list-item {
    padding-bottom: var(--spacing-vertical-m)
  }
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-list-item > .country-switch__link, .footer-tabs .country-switch__second-level-list-item > .country-switch__link {
    font-family: var(--font-family-frutiger);
    font-weight: 300;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    border-top: none;
    padding: 0;
    padding-left: var(--grid-gutter)
  }
}

@media (min-width: 48rem)and (min-width: 90rem) {
  .footer-tabs .country-switch__first-level-list-item > .country-switch__link, .footer-tabs .country-switch__second-level-list-item > .country-switch__link {
    font-size: 1.25rem;
    line-height: 1.2;
    background-position: 0 1.5rem
  }
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-list-item > .country-switch__link .icon, .footer-tabs .country-switch__second-level-list-item > .country-switch__link .icon {
    transform: translateY(-50%) rotate(0deg);
    width: 1.25rem;
    right: 0
  }
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-list-item > a > .country-switch__link-label, .footer-tabs .country-switch__second-level-list-item > a > .country-switch__link-label {
    background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
    background-position: 0 1.375rem;
    background-repeat: no-repeat;
    background-size: 0 .125rem;
    transition: background-size .3s ease-out;
    padding-bottom: .5rem
  }
}

@media (min-width: 48rem)and (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-list-item > a > .country-switch__link-label, .footer-tabs .country-switch__second-level-list-item > a > .country-switch__link-label {
    background-position: 0 1.25rem
  }
}

@media (min-width: 48rem)and (min-width: 90rem) {
  .footer-tabs .country-switch__first-level-list-item > a > .country-switch__link-label, .footer-tabs .country-switch__second-level-list-item > a > .country-switch__link-label {
    background-position: 0 1.5rem
  }
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-list-item--initial-selected > a > .country-switch__link-label, .footer-tabs .country-switch__first-level-list-item--active > a > .country-switch__link-label, .footer-tabs .country-switch__second-level-list-item--initial-selected > a > .country-switch__link-label, .footer-tabs .country-switch__second-level-list-item--active > a > .country-switch__link-label {
    color: var(--color-black);
    background-size: 100% .125rem;
    transition-delay: 0s
  }
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-list-item--active .icon, .footer-tabs .country-switch__second-level-list-item--active .icon {
    fill: var(--interaction-color-hover)
  }
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-list-item > a:hover > .country-switch__link-label, .footer-tabs .country-switch__second-level-list-item > a:hover > .country-switch__link-label {
    color: var(--interaction-color-hover);
    background-size: 100% .125rem;
    transition-delay: 0s;
    background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%)
  }
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-list-item > a:focus > .country-switch__link-label, .footer-tabs .country-switch__second-level-list-item > a:focus > .country-switch__link-label {
    color: var(--interaction-color-focused);
    background-size: 100% .125rem;
    transition-delay: 0s;
    background-image: linear-gradient(to bottom, transparent 20%, currentColor 21%);
    outline: none
  }
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__first-level-list-item--initial-selected > a > .country-switch__link-label, .footer-tabs .country-switch__second-level-list-item--initial-selected > a > .country-switch__link-label {
    color: var(--color-black)
  }
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__second-level-container {
    width: 100%;
    margin-left: var(--grid-gutter);
    overflow: visible
  }
}

.footer-tabs .country-switch__second-level-container {
  height: 0;
  overflow: hidden
}

@media (min-width: 48rem) {
  .footer-tabs .country-switch__second-level-container {
    height: auto;
    position: absolute;
    top: 0;
    left: 100%;
    display: none
  }
}
