/* lazy-image */
.lazy-image {
  width: 100%
}

.lazy-image[class*=lazy-image--ratio-] .lazy-image__image {
  position: absolute
}

.lazy-image--ratio-0_0 .lazy-image__image-container {
  padding-bottom: 133.33333%
}

.lazy-image--ratio-1_1 .lazy-image__image-container {
  padding-bottom: 100%
}

.lazy-image--ratio-2_1 .lazy-image__image-container {
  padding-bottom: 50%
}

.lazy-image--ratio-16_9 .lazy-image__image-container {
  padding-bottom: 56.25%
}

.lazy-image--ratio-3_2 .lazy-image__image-container {
  padding-bottom: 66.666667%
}

.lazy-image--ratio-4_3 .lazy-image__image-container {
  padding-bottom: 75%
}

.lazy-image--ratio-9_16 .lazy-image__image-container {
  padding-bottom: 177.777778%
}

.lazy-image--ratio-2_3 .lazy-image__image-container {
  padding-bottom: 150%
}

.lazy-image--ratio-3_4 .lazy-image__image-container {
  padding-bottom: 133.33333%
}

.lazy-image--ratio-4_1 .lazy-image__image-container {
  padding-bottom: 25%
}

.lazy-image--ratio-3_1 .lazy-image__image-container {
  padding-bottom: 33.333333%
}

.lazy-image--ratio-16_10 .lazy-image__image-container {
  padding-bottom: 62.5%
}

.lazy-image .lazy-image__figcaption {
  position: relative;
  display: flex
}

.lazy-image .lazy-image__caption {
  display: block;
  color: var(--caption-color);
  margin-right: var(--spacing-horizontal-xxs);
  padding-top: var(--spacing-vertical-xs)
}

.lazy-image .lazy-image__caption p {
  display: inline
}

.lazy-image .lazy-image__copyright {
  background-color: rgba(255, 255, 255, .6);
  padding-top: var(--spacing-vertical-xxs);
  padding-right: var(--spacing-horizontal-xs);
  padding-bottom: var(--spacing-vertical-xxs);
  padding-left: var(--spacing-horizontal-xs);
  position: absolute;
  bottom: 0;
  right: 0;
  bottom: 100%
}

.lazy-image .lazy-image__copyright-text {
  display: flex
}

.lazy-image .lazy-image__copyright-text::before {
  content: "©";
  padding-right: var(--spacing-horizontal-xxs)
}

.lazy-image .lazy-image__copyright-text--no-copyright-icon::before {
  display: none
}

.lazy-image .lazy-image__link {
  color: var(--text-color-headlines);
  padding-top: var(--spacing-vertical-xs);
  white-space: nowrap
}

.lazy-image--elevation-base .lazy-image__image-container {
  box-shadow: var(--elevation-base)
}

.lazy-image--elevation-low .lazy-image__image-container {
  box-shadow: var(--elevation-low)
}

.lazy-image--elevation-raised .lazy-image__image-container {
  box-shadow: var(--elevation-raised)
}

.lazy-image--elevation-highlight .lazy-image__image-container {
  box-shadow: var(--elevation-highlight)
}

.lazy-image--elevation-overlay .lazy-image__image-container {
  box-shadow: var(--elevation-overlay)
}

.lazy-image--elevation-stand-out .lazy-image__image-container {
  box-shadow: var(--elevation-stand_out)
}

.lazy-image--magnification-mode {
  height: 100%
}

.lazy-image--magnification-mode .lazy-image__image-container {
  height: 100%;
  padding-bottom: 0
}

.lazy-image--magnification-mode .lazy-image__image {
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain
}

.lazy-image--magnification-mode.lazy-image {
  display: flex;
  flex-direction: column
}

.lazy-image--magnification-mode .lazy-image__figcaption {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, .8);
  padding-top: .75rem;
  padding-right: var(--spacing-horizontal-s);
  padding-bottom: .75rem;
  padding-left: var(--spacing-horizontal-s)
}

@media (min-width: 48rem) {
  .lazy-image--magnification-mode .lazy-image__figcaption {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center
  }
}

.lazy-image--magnification-mode .lazy-image__caption {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.5px;
  flex: 1
}

@media (min-width: 48rem) {
  .lazy-image--magnification-mode .lazy-image__caption {
    padding: 0
  }
}

.lazy-image--magnification-mode .lazy-image__copyright {
  position: initial;
  bottom: initial;
  right: initial;
  background-color: initial;
  flex: 1;
  padding: 0
}

@media (min-width: 48rem) {
  .lazy-image--magnification-mode .lazy-image__copyright {
    padding-left: var(--spacing-horizontal-s);
    display: flex;
    justify-content: flex-end
  }
}

.lazy-image--position {
  top: 0;
  left: 0
}

.lazy-image--position-top .lazy-image__image {
  top: 0;
  bottom: auto;
  margin-top: 0
}

.lazy-image--position-bottom .lazy-image__image {
  top: auto;
  bottom: 0;
  margin-top: 0
}

.lazy-image--position-center .lazy-image__image {
  left: 50%;
  transform: translateX(-50%)
}

.lazy-image--position-middle .lazy-image__image {
  top: 50%;
  transform: translateY(-50%)
}

.lazy-image--position-middle.lazy-image--position-center .lazy-image__image {
  transform: translate(-50%, -50%)
}

.lazy-image--position-right .lazy-image__image {
  right: 0;
  left: auto
}

.lazy-image--position-left .lazy-image__image {
  left: 0;
  right: auto
}

.lazy-image--position-left .lazy-image__image-container .lazy-image__image, .lazy-image--position-right .lazy-image__image-container .lazy-image__image, .lazy-image--position-center .lazy-image__image-container .lazy-image__image {
  width: unset;
  max-width: unset
}

.lazy-image--rounded .lazy-image__image-container {
  border-radius: 50%
}

.lazy-image--rounded .lazy-image__figcaption {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 0
}

.lazy-image--rounded .lazy-image__caption {
  padding-top: var(--spacing-vertical-xs)
}

.lazy-image--rounded .lazy-image__copyright {
  position: initial;
  background-color: initial;
  padding-top: var(--spacing-vertical-xs);
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0
}

.lazy-image--rounded .lazy-image__copyright-text {
  display: block
}

.lazy-image .lazy-image__image-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  line-height: 0
}

.lazy-image .lazy-image__image {
  width: 100%;
  max-width: 100%;
  min-width: 100%
}

.lazy-image .lazy-image__image.lazy-image__target-image {
  opacity: 0;
  transition: opacity .125s linear
}

.lazy-image__image-container {
  background-color: var(--bg-color-light-01)
}

.lazy-image--loaded .lazy-image__image-container {
  background-color: rgba(0, 0, 0, 0)
}

.lazy-image--loaded .lazy-image__image.lazy-image__target-image {
  opacity: 1
}

.lazy-image__active-image-indicator {
  display: none
}

/* elevation */
:root {
  --elevation-base: 0 0 0 rgba(0, 0, 0, 0);
  --elevation-low: 0 0.125rem 0.5rem rgba(25, 25, 25, 0.04);
  --elevation-raised: 0.125rem 0.25rem 1rem rgba(25, 25, 25, 0.08);
  --elevation-highlight: 0.25rem 0.5rem 2rem rgba(25, 25, 25, 0.16);
  --elevation-overlay: 0.5rem 1rem 4rem rgba(25, 25, 25, 0.24);
  --elevation-standout: 1rem 2rem 8rem rgba(25, 25, 25, 0.48)
}

.elevation--base {
  box-shadow: var(--elevation-base)
}

.elevation--low {
  box-shadow: var(--elevation-low)
}

.elevation--raised {
  box-shadow: var(--elevation-raised)
}

.elevation--highlight {
  box-shadow: var(--elevation-highlight)
}

.elevation--overlay {
  box-shadow: var(--elevation-overlay)
}

.elevation--stand-out {
  box-shadow: var(--elevation-standout)
}
