/* stylelint-disable selector-class-pattern */

:root {
    --font-family-frutiger: "Frutiger Next", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    --interaction-color-link: #0072ef;
    --border-color-active: #32373e;
    --border-color-inactive: #c2cdd6;
    --button-tertiary-text-default: var(--interaction-color-link);
    --text-color-body: #606a76;
    --text-color-text: var(--text-color-body);
    --headline-color-eyebrow: var(--border-color-active);
    --spacing-vertical-m: 1.5rem;
    --spacing-vertical-l: 2rem;
    --spacing-vertical-xxl: 3.5rem;
    --spacing-vertical-s: 1rem;
    --section-margin: 1.5rem;
}

a {
    font-family: var(--font-family-frutiger);
    font-size: 1rem;
    color: var(--button-tertiary-text-default);
    position: relative;
    text-decoration: none;
}

a.back-link::after, a.button.primary::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 4px;
    left: 0;
    background-color: var(--button-primary-border-hover);
    transform-origin: bottom left;
    transition: all ease-in-out .3s;
    font-weight: 500;
}

a.back-link:hover::after, a.button.primary:hover::after {
    transform: scaleX(1);
}

a:hover {
    color: var(--button-primary-border-hover);
}

.text-block li {
    list-style-type: disc;
    margin-left: 2.5rem;
    padding-left: 0.6rem;
}

/* section */
@media (min-width: 22.5rem) {
    :root {
        --section-margin: 1.5rem;
    }
}

@media (min-width: 48rem) {
    :root {
        --section-margin: 2rem;
    }
}

@media (min-width: 64rem) {
    :root {
        --section-margin: 2rem;
    }
}

@media (min-width: 80rem) {
    :root {
        --section-margin: 4rem;
    }

    ul {
        margin: var(--spacing-vertical-m) 0;
    }
}

@media (min-width: 90rem) {
    :root {
        --section-margin: 6rem;
    }
}

@media (min-width: 120rem) {
    :root {
        --section-margin: 6rem;
    }
}

/* TODO: Sections not yet simplified are added as :not exceptions. This list  should shrink as we simplify sections */
main .section:not(.carousel-container):not(.text-block):not(.contact-container):not(.columns-container):not(.article-list-container):not(.footer) {
    margin: 0 auto;
    margin-top: var(--spacing-vertical-xxl);
    margin-bottom: var(--spacing-vertical-xxl);
    padding-left: var(--section-margin);
    padding-right: var(--section-margin);
    max-width: 102rem;
    box-sizing: border-box
}

/* TODO: Block not yet simplified are added as :not exceptions. This list  should shrink as we simplify sections */
.block:not(.header):not(.cards):not(.collapse):not(.carousel):not(.contact):not(.columns):not(.article-list):not(.footer):not(.columns-new) {
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: var(--grid-gutter);
    row-gap: 0;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: auto
}


/* text */
.text {
    color: var(--text-color-text)
}

.text--display-s,
.text--display-m,
.text--display-l {
    font-family: var(--font-family-frutiger);
    font-weight: 900;
    font-style: normal
}

.text--display-s {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 1.5px
}

.text--body-m {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em;
}

@media (min-width: 48rem) {
    .text--display-s {
        font-size: 3rem;
        line-height: 3.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 64rem) {
    .text--display-s {
        font-size: 3rem;
        line-height: 3.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 80rem) {
    .text--display-s {
        font-size: 4rem;
        line-height: 4.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 90rem) {
    .text--display-s {
        font-size: 4rem;
        line-height: 4.25rem;
        letter-spacing: 1.5px
    }
}

.text--display-m {
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: 1.5px
}

@media (min-width: 48rem) {
    .text--display-m {
        font-size: 4rem;
        line-height: 4.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 64rem) {
    .text--display-m {
        font-size: 4rem;
        line-height: 4.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 80rem) {
    .text--display-m {
        font-size: 5rem;
        line-height: 5.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 90rem) {
    .text--display-m {
        font-size: 5rem;
        line-height: 5.25rem;
        letter-spacing: 1.5px
    }
}

.text--display-l {
    font-size: 3.75rem;
    line-height: 4rem;
    letter-spacing: 1.5px
}

@media (min-width: 48rem) {
    .text--display-l {
        font-size: 5rem;
        line-height: 5.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 64rem) {
    .text--display-l {
        font-size: 5rem;
        line-height: 5.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 80rem) {
    .text--display-l {
        font-size: 6rem;
        line-height: 6.5rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 90rem) {
    .text--display-l {
        font-size: 6rem;
        line-height: 6.5rem;
        letter-spacing: 1.5px
    }
}

.text--eyebrow {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
    font-family: var(--font-family-frutiger);
    font-weight: 500;
    font-style: normal
}

.text--eyebrow-l,
.text--eyebrow-l--light,
.text--eyebrow-s,
.text--eyebrow-s--light {
    text-transform: uppercase
}

.text--eyebrow-l {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
    font-family: var(--font-family-frutiger);
    font-weight: 500;
    font-style: normal
}

@media (min-width: 64rem) {
    .text--eyebrow-l {
        font-size: 1rem;
        line-height: 1.25rem;
        letter-spacing: 0.5px;
        font-family: var(--font-family-frutiger);
        font-weight: 500;
        font-style: normal
    }
}

.text--eyebrow-s {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
    font-family: var(--font-family-frutiger);
    font-weight: 500;
    font-style: normal
}

.general-article-stage__details {
    margin-top: var(--spacing-vertical-s)
}

.general-article-stage.headline__sub {
    margin-top: var(--spacing-vertical-s)
}

.general-article-stage__share {
    margin-top: var(--spacing-vertical-s);
}

/* Headings */
.hl-xxl {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 0.015em
}

@media(min-width: 48rem) {
    .hl-xxl {
        font-size: 2.5rem;
        line-height: 2.75rem;
        letter-spacing: 0.015em
    }
}

@media(min-width: 64rem) {
    .hl-xxl {
        font-size: 2.5rem;
        line-height: 2.75rem;
        letter-spacing: 0.015em
    }
}

@media(min-width: 80rem) {
    .hl-xxl {
        font-size: 3rem;
        line-height: 3.25rem;
        letter-spacing: 0.015em
    }
}

@media(min-width: 90rem) {
    .hl-xxl {
        font-size: 3rem;
        line-height: 3.25rem;
        letter-spacing: 0.015em
    }
}

.hl-xl {
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 0.01em
}

@media(min-width: 48rem) {
    .hl-xl {
        font-size: 2rem;
        line-height: 2.25rem;
        letter-spacing: 0.015em
    }
}

@media(min-width: 64rem) {
    .hl-xl {
        font-size: 2rem;
        line-height: 2.25rem;
        letter-spacing: 0.015em
    }
}

@media(min-width: 80rem) {
    .hl-xl {
        font-size: 2.5rem;
        line-height: 2.75rem;
        letter-spacing: 0.015em
    }
}

@media(min-width: 90rem) {
    .hl-xl {
        font-size: 2.5rem;
        line-height: 2.75rem;
        letter-spacing: 0.015em
    }
}

.hl-l {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.005em
}

@media(min-width: 48rem) {
    .hl-l {
        font-size: 1.75rem;
        line-height: 2rem;
        letter-spacing: 0.01em
    }
}

@media(min-width: 64rem) {
    .hl-l {
        font-size: 1.75rem;
        line-height: 2rem;
        letter-spacing: 0.01em
    }
}

@media(min-width: 80rem) {
    .hl-l {
        font-size: 2rem;
        line-height: 2.25rem;
        letter-spacing: 0.015em
    }
}

@media(min-width: 90rem) {
    .hl-l {
        font-size: 2rem;
        line-height: 2.25rem;
        letter-spacing: 0.015em
    }
}

.hl-m {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.005em
}

@media(min-width: 48rem) {
    .hl-m {
        font-size: 1.5rem;
        line-height: 1.875rem;
        letter-spacing: 0.01em
    }
}

@media(min-width: 64rem) {
    .hl-m {
        font-size: 1.5rem;
        line-height: 1.875rem;
        letter-spacing: 0.01em
    }
}

@media(min-width: 80rem) {
    .hl-m {
        font-size: 1.5rem;
        line-height: 1.875rem;
        letter-spacing: 0.01em
    }
}

@media(min-width: 90rem) {
    .hl-m {
        font-size: 1.5rem;
        line-height: 1.875rem;
        letter-spacing: 0.01em
    }
}

.hl-s {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.005em
}

@media(min-width: 48rem) {
    .hl-s {
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.005em
    }
}

@media(min-width: 64rem) {
    .hl-s {
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.005em
    }
}

@media(min-width: 80rem) {
    .hl-s {
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.005em
    }
}

@media(min-width: 90rem) {
    .hl-s {
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.005em
    }
}

.hl-xs {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.005em
}

@media(min-width: 48rem) {
    .hl-xs {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.005em
    }
}

@media(min-width: 64rem) {
    .hl-xs {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.005em
    }
}

@media(min-width: 80rem) {
    .hl-xs {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.005em
    }
}

@media(min-width: 90rem) {
    .hl-xs {
        font-size: 1rem;
        line-height: 1.5rem;
        letter-spacing: 0.005em
    }
}

.hl--sub-m.hl--sub {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.005em;
}

@media (min-width: 48rem) {
    .hl--sub-m.hl--sub {
        font-size: 1.5rem;
        line-height: 1.875rem;
        letter-spacing: 0.01em;
    }
}

@media (min-width: 64rem) {
    .hl--sub-m.hl--sub {
        font-size: 1.5rem;
        line-height: 1.875rem;
        letter-spacing: 0.01em;
    }
}

@media (min-width: 80rem) {
    .hl--sub-m.hl--sub {
        font-size: 1.5rem;
        line-height: 1.875rem;
        letter-spacing: 0.01em;
    }
}

@media (min-width: 90rem) {
    .hl--sub-m.hl--sub {
        font-size: 1.5rem;
        line-height: 1.875rem;
        letter-spacing: 0.01em;
    }
}

/* Grid columns */
.grid__column {
    position: relative
}

.grid__column--100 {
    grid-column: 1/-1
}

/* Divider */
.divider {
    border: none;
    background-color: var(--border-color-inactive);
    height: 1px;
    width: 100%;
    -webkit-margin-before: 0;
    margin-block-start: 0;
    margin-top: var(--spacing-vertical-l);
}

.divider--dark {
    background-color: var(--border-color-active);
    height: 0.125rem
}

/* Page utility bar */
.page-utility-bar {
    margin-top: var(--spacing-vertical-xxl);
    margin-bottom: var(--spacing-vertical-xxl)
}

.page-utility-bar .divider {
    grid-column: 1/-1;
    grid-row: 1;
    margin-bottom: var(--spacing-vertical-m);
    margin-top: 0;
}

.page-utility-bar .divider:last-child {
    grid-row: 4;
    margin-top: var(--spacing-vertical-m);
    margin-bottom: 0
}

.page-utility-bar__label {
    margin-bottom: var(--spacing-vertical-xs);
    text-align: center;
    line-height: 1.5rem;
    letter-spacing: .5px;
    grid-row: 2;
    grid-column: 1/-1
}

.page-utility-bar__share-container {
    margin: 0 auto;
    grid-row: 3;
    grid-column: 1/-1
}

@media(min-width: 64rem) {
    .page-utility-bar .divider:last-child {
        grid-row: 3
    }

    .page-utility-bar__label {
        margin-bottom: 0;
        grid-column: 1/3;
        grid-row: 2;
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center
    }

    .page-utility-bar__share-container {
        margin: 0;
        grid-row: 2;
        grid-column: 3/-1
    }
}

/* Share */

.share {
    display: flex
}

.share__link {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-white);
    margin-left: var(--spacing-horizontal-xs)
}

.share__link:first-child {
    margin-left: 0
}

.share__link:focus {
    outline: 0.125rem solid var(--color-highlight-light)
}

.share__link[data-js-select=Share_copy-to-clipboard] textarea {
    position: absolute;
    z-index: -1;
    left: -625rem
}

.share__link .icon {
    width: 1.5rem;
    margin: .5rem;
    fill: var(--interaction-color-link)
}

.share__link:hover .icon {
    fill: var(--interaction-color-hover)
}

.share__link:focus .icon {
    fill: var(--interaction-color-focused)
}

.share__link:disabled .icon {
    fill: var(--interaction-color-disabled)
}
