/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

 :root {
    /* colors */
    --text-color-body: #606a76;
    --text-color-headlines: #32373e;
    --text-color-button: #ffffff;
    --text-color-invert-body: #dce3e9;
    --text-color-invert-headlines: #f2f5f8;
    --text-color-invert-button: #0072ef;
    --text-color-cyan: #008bd0;
    --fill-color-body: #606a76;
    --fill-color-headlines: #32373e;
    --fill-color-highlight: #0072ef;
    --fill-color-invert-body: #dce3e9;
    --fill-color-invert-headlines: #f2f5f8;
    --bg-color-primary: #ffffff;
    --bg-color-secondary: #f8fafc;
    --bg-color-light-01: #f8fafc;
    --bg-color-light-02: #f2f5f8;
    --bg-color-light-03: #ecf0f4;
    --bg-color-light-04: #e6ebf0;
    --bg-color-dark-01: #32373e;
    --bg-color-dark-02: #292d32;
    --bg-color-dark-03: #202327;
    --bg-color-dark-04: #17191c;
    --bg-color-cyan: #008bd0;
    --border-color-inactive: #c2cdd6;
    --border-color-active: #32373e;
    --border-color-invert-inactive: #6c7784;
    --border-color-invert-active: #f2f5f8;
    --interaction-color-link: #0072ef;
    --interaction-color-hover: #0052aa;
    --interaction-color-focused: #0052aa;
    --interaction-color-disabled: #0052aae6;
    --interaction-color-grey-link: #dce3e9;
    --interaction-color-grey-hover: #c2cdd6;
    --interaction-color-grey-focused: #a4b0bc;
    --interaction-color-grey-disabled: #d1d9e166;
    --interaction-color-background-focused: #ecf0f4;
    --interaction-color-background-invert-focused: #4e565f;
    --color-alert-error: #e71e1e;
    --color-alert-error-10: #fdf0f0;
    --color-alert-error-70: #ed4f4f;
    --color-alert-error-120: #500808;
    --color-alert-warning: #cd4b13;
    --color-alert-warning-10: #fdf1ec;
    --color-alert-warning-40: #ec6e38;
    --color-alert-warning-120: #3e1706;
    --color-alert-info: #986f00;
    --color-alert-info-10: #fff4d5;
    --color-alert-info-40: #fdca3f;
    --color-alert-info-120: #302300;
    --color-alert-success: #1e8565;
    --color-alert-success-10: #e5f9f3;
    --color-alert-success-50: #3ad2a3;
    --color-alert-success-120: #09271e;
    --color-alert-marketing: #d9e906;
    --color-information-120: #002144;
    --color-information-110: #00346c;
    --color-information-100: #0052aa;
    --color-information-90: #0072ef;
    --color-information-80: #1a88ff;
    --color-information-70: #3396ff;
    --color-information-60: #5db3ff;
    --color-information-50: #7dc7ff;
    --color-information-40: #99d6ff;
    --color-information-30: #b1e0ff;
    --color-information-20: #d5eeff;
    --color-information-10: #eaf7ff;
    --color-information-zeiss: #061e93;
    --color-information-highlight: #dede4c;
    --color-white: #ffffff;
    --color-black: #000000;

    /* fonts */
    --font-family-frutiger: "Frutiger Next", "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
    --font-size-hl-1000: 1rem;
    --font-size-hl-1250: 1.25rem;
    --font-size-hl-1500: 1.5rem;
    --font-size-hl-1750: 1.75rem;
    --font-size-hl-2000: 2rem;
    --font-size-hl-2500: 2.5rem;
    --font-size-hl-3000: 3rem;
    --line-height-hl-1000: 1.5rem;
    --line-height-hl-1250: 1.725rem;
    --line-height-hl-1500: 1.875rem;
    --line-height-hl-1750: 2rem;
    --line-height-hl-2000: 2.25rem;
    --line-height-hl-2500: 3.125rem;
    --line-height-hl-3000: 3.75rem;
    --font-size-display-2000: 2rem;
    --font-size-display-2500: 2.5rem;
    --font-size-display-3000: 3rem;
    --font-size-display-3750: 3.75rem;
    --font-size-display-4000: 4rem;
    --font-size-display-5000: 5rem;
    --font-size-display-6000: 6rem;
    --line-height-display-2000: 2.375rem;
    --line-height-display-2500: 2.75rem;
    --line-height-display-3000: 3.25rem;
    --line-height-display-3750: 4rem;
    --line-height-display-4000: 4.25rem;
    --line-height-display-5000: 5.25rem;
    --line-height-display-6000: 6.5rem;
    --font-size-quote-1500: 1.5rem;
    --font-size-quote-2000: 2rem;
    --font-size-quote-2500: 2.5rem;
    --line-height-quote-1500: 1.875rem;
    --line-height-quote-2000: 2.25rem;
    --line-height-quote-2500: 3rem;
    --font-size-body-750: 0.75rem;
    --font-size-body-875: 0.875rem;
    --font-size-body-1000: 1rem;
    --font-size-body-1250: 1.25rem;
    --line-height-body-750: 1.125rem;
    --line-height-body-875: 1.25rem;
    --line-height-body-1000: 1.5rem;
    --line-height-body-1250: 1.75rem;
    --font-size-caption-750: 0.75rem;
    --line-height-caption-750: 1rem;
    --font-size-eyebrow-750: 0.75rem;
    --font-size-eyebrow-1000: 1rem;
    --line-height-eyebrow-750: 1rem;
    --line-height-eyebrow-1000: 1.25rem;
    --font-size-button-750: 0.75rem;
    --font-size-button-1000: 1rem;
    --font-size-button-1250: 1.25rem;
    --line-height-button-750: 1.125rem;
    --line-height-button-1000: 1.5rem;
    --line-height-button-1250: 1.75rem;
    --font-size-link-875: 0.875rem;
    --font-size-link-1000: 1rem;
    --font-size-link-1250: 1.25rem;
    --line-height-link-875: 1.25rem;
    --line-height-link-1000: 1.25rem;
    --line-height-link-1250: 1.75rem;
    --font-size-table-750: 0.75rem;
    --font-size-table-1000: 1rem;
    --line-height-table-750: 1rem;
    --line-height-table-1000: 1.5rem;
    --font-size-nav-875-1: 0.875rem;
    --font-size-nav-875-2: 0.875rem;
    --font-size-nav-1000-1: 1rem;
    --font-size-nav-1000-2: 1rem;
    --font-size-nav-1000-3: 1rem;
    --font-size-nav-1125: 1.125rem;
    --font-size-nav-1250-1: 1.25rem;
    --font-size-nav-1250-2: 1.25rem;
    --line-height-nav-875-1: 1.25rem;
    --line-height-nav-875-2: 1.5rem;
    --line-height-nav-1000-1: 1.125rem;
    --line-height-nav-1000-2: 1.25rem;
    --line-height-nav-1000-3: 1.5rem;
    --line-height-nav-1125-1: 1.5rem;
    --line-height-nav-1250-1: 1.5rem;
    --line-height-nav-1250-2: 1.75rem;
    --font-size-form-label-750: 0.75rem;
    --line-height-form-label-750: 1.125rem;
    --letter-spacing-0: 0;
    --letter-spacing-1: 0.5px;
    --letter-spacing-2: 1px;
    --letter-spacing-3: 1.5px;
    --spacing-horizontal-xxs: 0.25rem;
    --spacing-horizontal-xs: 0.5rem;
    --spacing-horizontal-s: 1rem;
    --spacing-horizontal-m: 1.5rem;
    --spacing-horizontal-l: 2rem;
    --spacing-horizontal-xl: 3rem;
    --spacing-horizontal-xxl: 3.5rem;
    --spacing-horizontal-xxxl: 4.5rem;
    --spacing-vertical-xxs: 0.25rem;
    --spacing-vertical-xs: 0.5rem;
    --spacing-vertical-s: 1rem;
    --spacing-vertical-m: 1.5rem;
    --spacing-vertical-l: 2rem;
    --spacing-vertical-xl: 3rem;
    --spacing-vertical-xxl: 3.5rem;
    --spacing-vertical-xxxl: 4.5rem;
    --spacing-vertical-modular: 4.5rem
  }

  /* reset */
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, menu, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    display: block;
  }

  *[hidden] {
    display: none;
  }

  body {
    line-height: 1;
    overflow-x: hidden;
  }

  menu, ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote:before, blockquote:after, q:before, q:after {
    content: "";
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  /* hlx */
  body {
    display: none;
  }

  body.appear {
    display: unset;
  }

  main img {
    max-width: 100%;
    width: auto;
    height: auto;
    min-width: 100%;
  }

  /* progressive section appearance */
  main .section[data-section-status='loading'],
  main .section[data-section-status='initialized'] {
    display: none;
  }

  /* global */
  html, body {
    font-family: var(--font-family-frutiger);
    font-weight: normal;
    font-style: normal;
    position: relative;
    z-index: 0;
    background-color: var(--color-white);
    color: var(--text-color-body);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;

    scroll-behavior: smooth;
  }

  html *, body * {
    box-sizing: border-box
  }

  /* body */
  body {
    position: relative;
    word-wrap: break-word
  }

  body.disable-scroll {
    overflow: hidden
  }

  body.fixed-body-scroll-position {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
  }

  /* header */
  header {
    position: sticky;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 5000;
    background-color: var(--color-white);
    transition: ease-out .5s;
    height: 96px;
  }

  @media (min-width: 768px) {
    header {
      height: 136px;
    }

    header.header--scrolled {
      height: 96px;
    }
  }

  /* visibility utilities */
  .visible-from-m {
    display: none
  }

  @media (min-width: 48rem) {
    .hide-from-m {
      display: none !important
    }

    .visible-from-m {
      display: block
    }
  }

  .visible-from-l {
    display: none
  }

  @media (min-width: 64rem) {
    .hide-from-l {
      display: none !important
    }

    .visible-from-l {
      display: block
    }
  }

  .visible-from-xl {
    display: none
  }

  @media (min-width: 80rem) {
    .visible-from-xl {
      display: block
    }
  }

  /* grid */
  :root {
    --grid-columns: 4;
    --grid-margin: 1.5rem;
    --grid-gutter: 1rem;
    --grid-negative-margin: 1.5rem
  }

  @media (min-width: 22.5rem) {
    :root {
      --grid-columns: 4;
      --grid-margin: 1.5rem;
      --grid-gutter: 1rem;
      --grid-negative-margin: 1.5rem
    }
  }

  @media (min-width: 48rem) {
    :root {
      --grid-columns: 6;
      --grid-margin: 2rem;
      --grid-gutter: 1.5rem;
      --grid-negative-margin: 2rem
    }
  }

  @media (min-width: 64rem) {
    :root {
      --grid-columns: 12;
      --grid-margin: 2rem;
      --grid-gutter: 1.5rem;
      --grid-negative-margin: 2rem
    }
  }

  @media (min-width: 80rem) {
    :root {
      --grid-columns: 12;
      --grid-margin: 4rem;
      --grid-gutter: 1.5rem;
      --grid-negative-margin: 2rem
    }
  }

  @media (min-width: 90rem) {
    :root {
      --grid-columns: 12;
      --grid-margin: 6rem;
      --grid-gutter: 1.5rem;
      --grid-negative-margin: 3rem
    }
  }

  @media (min-width: 120rem) {
    :root {
      --grid-columns: 12;
      --grid-margin: 6rem;
      --grid-gutter: 1.5rem;
      --grid-negative-margin: 3rem
    }
  }

  .grid__container {
    margin: 0 auto;
    padding-left: var(--grid-margin);
    padding-right: var(--grid-margin);
    max-width: 102rem;
    box-sizing: border-box
  }

  .grid__container--full-bleed {
    padding-left: 0;
    padding-right: 0;
    max-width: none
  }

  .grid__structure {
    position: relative;
    width: 100%;
    display: grid;
    grid-gap: var(--grid-gutter);
    row-gap: 0;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: auto
  }

  .grid__structure--50-50 {
    grid-template-columns: repeat(1, 1fr)
  }

  @media (min-width: 48rem) {
    .grid__structure--50-50 {
      grid-template-columns: repeat(2, 1fr)
    }
  }

  .grid__column--background-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
  }

  .grid__column {
    position: relative
  }

  .grid__column--100 {
    grid-column: 1/-1
  }

  .grid__column--50 {
    grid-column: span 6
  }

  .grid__column--inner {
    grid-column: 1/-1
  }

  @media (min-width: 64rem) {
    .grid__column--inner {
      grid-column: 3/span 8
    }
  }

  .grid__content {
    position: relative;
    display: block;
    z-index: 1
  }

  .grid__content-bg--left, .grid__content-bg--right, .grid__content-bg--full {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
  }

  .grid__content-bg--full {
    margin-left: calc(var(--grid-negative-margin) * -1);
    margin-right: calc(var(--grid-negative-margin) * -1)
  }

  .grid__content-bg--left {
    margin-left: calc(var(--grid-negative-margin) * -1);
    margin-right: calc(var(--grid-gutter) / -2)
  }

  .grid__content-bg--right {
    margin-left: calc(var(--grid-gutter) / -2);
    margin-right: calc(var(--grid-negative-margin) * -1)
  }

  /* links */
  .plain-link {
    text-decoration: none;
    cursor: pointer;
  }

  .plain-link {
    text-decoration: none;
    cursor: pointer
  }

  .plain-link > div, .plain-link > span, .plain-link > figure {
    pointer-events: none
  }

  /* text  */
  :root {
    --text-color-text: var(--text-color-body);
    --list-indent: 2.8rem
  }

  .text {
    color: var(--text-color-text)
  }

  .text > * {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit
  }

  .text__ordered_list, .text__unordered_list {
    margin-left: 0;
    padding-left: var(--list-indent);
    counter-reset: first-level
  }

  .text__ordered_list li, .text__unordered_list li {
    padding-bottom: var(--spacing-vertical-xs);
    counter-increment: first-level
  }

  .text__ordered_list li:last-child, .text__unordered_list li:last-child {
    padding-bottom: 0
  }

  .text__ordered_list li::before, .text__unordered_list li::before {
    content: counter(first-level) ".";
    padding-right: var(--spacing-horizontal-s);
    position: absolute;
    transform: translateX(-100%)
  }

  .text__ordered_list li a, .text__unordered_list li a {
    display: inline-block;
    position: relative;
    color: inherit;
    text-decoration: none;
    transition: color .75s;
    outline: none
  }

  @keyframes hover {
    0% {
      left: 0
    }
    50% {
      left: 100%;
      right: 0
    }
    51% {
      left: 0;
      right: 100%
    }
    100% {
      right: 0
    }
  }

  .text__ordered_list li a::after, .text__unordered_list li a::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--button-tertiary-underline-default);
    -webkit-animation-duration: .75s;
    animation-duration: .75s
  }

  .text__ordered_list li a:hover, .text__unordered_list li a:hover {
    color: var(--text-color-link-hover)
  }

  .text__ordered_list li a:hover::after, .text__unordered_list li a:hover::after {
    background-color: var(--button-tertiary-underline-hover);
    -webkit-animation-name: hover;
    animation-name: hover
  }

  .text__ordered_list li a:active, .text__ordered_list li a:focus, .text__unordered_list li a:active, .text__unordered_list li a:focus {
    color: var(--text-color-link-focus)
  }

  .text__ordered_list li a:active::after, .text__ordered_list li a:focus::after, .text__unordered_list li a:active::after, .text__unordered_list li a:focus::after {
    background-color: var(--button-tertiary-underline-focus)
  }

  .text__ordered_list li a:focus::before, .text__unordered_list li a:focus::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--button-tertiary-outline-focus)
  }

  .text__ordered_list li ol, .text__ordered_list li ul, .text__unordered_list li ol, .text__unordered_list li ul {
    padding-left: var(--list-indent);
    counter-reset: second-level
  }

  .text__ordered_list li ol li, .text__ordered_list li ul li, .text__unordered_list li ol li, .text__unordered_list li ul li {
    counter-increment: second-level
  }

  .text__ordered_list li ol li:first-child, .text__ordered_list li ul li:first-child, .text__unordered_list li ol li:first-child, .text__unordered_list li ul li:first-child {
    padding-top: var(--spacing-vertical-xs)
  }

  .text__ordered_list li ol li::before, .text__ordered_list li ul li::before, .text__unordered_list li ol li::before, .text__unordered_list li ul li::before {
    content: counter(first-level) "." counter(second-level)
  }

  .text__ordered_list li ol li ol, .text__ordered_list li ol ul, .text__ordered_list li ul li ol, .text__ordered_list li ul ul, .text__unordered_list li ol li ol, .text__unordered_list li ol ul, .text__unordered_list li ul li ol, .text__unordered_list li ul ul {
    counter-reset: third-level
  }

  .text__ordered_list li ol li ol li, .text__ordered_list li ol ul li, .text__ordered_list li ul li ol li, .text__ordered_list li ul ul li, .text__unordered_list li ol li ol li, .text__unordered_list li ol ul li, .text__unordered_list li ul li ol li, .text__unordered_list li ul ul li {
    counter-increment: third-level
  }

  .text__ordered_list li ol li ol li::before, .text__ordered_list li ol ul li::before, .text__ordered_list li ul li ol li::before, .text__ordered_list li ul ul li::before, .text__unordered_list li ol li ol li::before, .text__unordered_list li ol ul li::before, .text__unordered_list li ul li ol li::before, .text__unordered_list li ul ul li::before {
    content: counter(first-level) "." counter(second-level) "." counter(third-level)
  }

  .text__unordered_list li::before {
    content: "●";
    font-size: .75rem
  }

  .text__unordered_list li ul li::before {
    content: "◦";
    font-size: 1.375rem
  }

  .text__unordered_list li ul li ul li::before {
    content: "▪";
    font-size: unset
  }

  .text--body-xs p {
    padding-top: 1.125rem
  }

  .text--body-s p {
    padding-top: 1.25rem
  }

  .text--body-m p {
    padding-top: 1.5rem
  }

  .text--body-l p {
    padding-top: 1.75rem
  }

  .text > ul, .text > ol {
    padding-top: var(--spacing-vertical-m);
    padding-bottom: var(--spacing-vertical-m)
  }

  .text > ul li:not(:last-child), .text > ol li:not(:last-child) {
    padding-bottom: var(--spacing-vertical-xs)
  }

  .text > ul + *, .text > ol + * {
    padding-top: 0
  }

  .text :first-child {
    padding-top: 0
  }

  .text :only-child {
    padding-top: 0;
    padding-bottom: 0
  }

  .text--inverted {
    --text-color-text: var(--text-color-invert-body);
    --text-color-link-hover: var(--interaction-color-grey-hover);
    --text-color-link-focus: var(--interaction-color-grey-focused)
  }

  .text--display-s, .text--display-m, .text--display-l {
    font-family: var(--font-family-frutiger);
    font-weight: 900;
    font-style: normal
  }

  .text--display-s {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 1.5px
  }

  @media (min-width: 48rem) {
    .text--display-s {
      font-size: 3rem;
      line-height: 3.25rem;
      letter-spacing: 1.5px
    }
  }

  @media (min-width: 64rem) {
    .text--display-s {
      font-size: 3rem;
      line-height: 3.25rem;
      letter-spacing: 1.5px
    }
  }

  @media (min-width: 80rem) {
    .text--display-s {
      font-size: 4rem;
      line-height: 4.25rem;
      letter-spacing: 1.5px
    }
  }

  @media (min-width: 90rem) {
    .text--display-s {
      font-size: 4rem;
      line-height: 4.25rem;
      letter-spacing: 1.5px
    }
  }

  .text--display-m {
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: 1.5px
  }

  @media (min-width: 48rem) {
    .text--display-m {
      font-size: 4rem;
      line-height: 4.25rem;
      letter-spacing: 1.5px
    }
  }

  @media (min-width: 64rem) {
    .text--display-m {
      font-size: 4rem;
      line-height: 4.25rem;
      letter-spacing: 1.5px
    }
  }

  @media (min-width: 80rem) {
    .text--display-m {
      font-size: 5rem;
      line-height: 5.25rem;
      letter-spacing: 1.5px
    }
  }

  @media (min-width: 90rem) {
    .text--display-m {
      font-size: 5rem;
      line-height: 5.25rem;
      letter-spacing: 1.5px
    }
  }

  .text--display-l {
    font-size: 3.75rem;
    line-height: 4rem;
    letter-spacing: 1.5px
  }

  @media (min-width: 48rem) {
    .text--display-l {
      font-size: 5rem;
      line-height: 5.25rem;
      letter-spacing: 1.5px
    }
  }

  @media (min-width: 64rem) {
    .text--display-l {
      font-size: 5rem;
      line-height: 5.25rem;
      letter-spacing: 1.5px
    }
  }

  @media (min-width: 80rem) {
    .text--display-l {
      font-size: 6rem;
      line-height: 6.5rem;
      letter-spacing: 1.5px
    }
  }

  @media (min-width: 90rem) {
    .text--display-l {
      font-size: 6rem;
      line-height: 6.5rem;
      letter-spacing: 1.5px
    }
  }
  .text--quote {
    font-family: var(--font-family-frutiger);
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: 0.5px
  }

  @media (min-width: 48rem) {
    .text--quote {
      font-size: 2rem;
      line-height: 2.5rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 64rem) {
    .text--quote {
      font-size: 2.5rem;
      line-height: 3.125rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 80rem) {
    .text--quote {
      font-size: 3rem;
      line-height: 3.75rem;
      letter-spacing: 1.0px
    }
  }

  @media (min-width: 90rem) {
    .text--quote {
      font-size: 3.75rem;
      line-height: 4.625rem;
      letter-spacing: 1.0px
    }
  }

  .text--body-xs {
    font-size: 0.75rem;
    line-height: 1.125rem;
    letter-spacing: 0.5px
  }

  .text--body-s {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.5px
  }

  .text--body-l {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px
  }

  .text--caption {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
    color: var(--text-color-body);
    font-family: var(--font-family-frutiger);
    font-weight: normal;
    font-style: normal
  }

  .text--eyebrow {
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
    font-family: var(--font-family-frutiger);
    font-weight: 500;
    font-style: normal
  }

  .text--eyebrow-l, .text--eyebrow-l--light, .text--eyebrow-s, .text--eyebrow-s--light {
    text-transform: uppercase
  }

  .text--eyebrow-l {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
    font-family: var(--font-family-frutiger);
    font-weight: 500;
    font-style: normal
  }

  @media (min-width: 64rem) {
    .text--eyebrow-l {
      font-size: 1rem;
      line-height: 1.25rem;
      letter-spacing: 0.5px;
      font-family: var(--font-family-frutiger);
      font-weight: 500;
      font-style: normal
    }
  }

  .text--eyebrow-s {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.5px;
    font-family: var(--font-family-frutiger);
    font-weight: 500;
    font-style: normal
  }

  .text--table {
    font-family: var(--font-family-frutiger);
    font-weight: normal;
    font-style: normal;
    color: var(--text-color-body)
  }

  .text--table-s {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.5px
  }

  .text--table-attribute {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    font-family: var(--font-family-frutiger);
    font-weight: 500;
    font-style: normal
  }

  .text--table-value {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px
  }

  .text--table-hl {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
    font-family: var(--font-family-frutiger);
    font-weight: 700;
    font-style: normal
  }

  .text--navi-active {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
  }

  .text--navi-inactive {
    font-size: 1.125rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px;
  }

  .text--bold, b {
    font-family: var(--font-family-frutiger);
    font-weight: 700;
    font-style: normal
  }

  i .text--bold, .text--bold i, i b, b i {
    font-family: var(--font-family-frutiger);
    font-weight: 700;
    font-style: italic
  }

  i {
    font-style: italic
  }

  sup, sub {
    position: relative;
    font-size: 75%;
    line-height: 1rem
  }

  sup {
    top: -0.5em
  }

  sub {
    bottom: -0.25em
  }

  /* text-block */
  .text-block {
    margin-top: var(--spacing-vertical-xxl);
    margin-bottom: var(--spacing-vertical-xxl)
  }

  .text-block__headline {
    margin-bottom: var(--spacing-vertical-s)
  }

  /* headings */
  .hl-xs, .hl-s, .hl-m, .hl-l, .hl-xl {
    font-family: var(--font-family-frutiger);
    font-weight: 700;
    font-style: normal;
    color: var(--text-color-headlines)
  }

  .hl-xxl {
    font-family: var(--font-family-frutiger);
    font-weight: 900;
    font-style: normal;
    color: var(--text-color-headlines)
  }

  .hl--sub {
    font-family: var(--font-family-frutiger);
    font-weight: 300;
    font-style: normal
  }

  .hl--sub-xxl .hl--sub {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 1px
  }

  @media (min-width: 48rem) {
    .hl--sub-xxl .hl--sub {
      font-size: 2.5rem;
      line-height: 2.75rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 64rem) {
    .hl--sub-xxl .hl--sub {
      font-size: 2.5rem;
      line-height: 2.75rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 80rem) {
    .hl--sub-xxl .hl--sub {
      font-size: 3rem;
      line-height: 3.25rem;
      letter-spacing: 1.5px
    }
  }

  @media (min-width: 90rem) {
    .hl--sub-xxl .hl--sub {
      font-size: 3rem;
      line-height: 3.25rem;
      letter-spacing: 1.5px
    }
  }

  .hl--sub-xl .hl--sub {
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 1px
  }

  @media (min-width: 48rem) {
    .hl--sub-xl .hl--sub {
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 64rem) {
    .hl--sub-xl .hl--sub {
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 80rem) {
    .hl--sub-xl .hl--sub {
      font-size: 2.5rem;
      line-height: 2.75rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 90rem) {
    .hl--sub-xl .hl--sub {
      font-size: 2.5rem;
      line-height: 2.75rem;
      letter-spacing: 1px
    }
  }

  .hl--sub-l .hl--sub {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px
  }

  @media (min-width: 48rem) {
    .hl--sub-l .hl--sub {
      font-size: 1.75rem;
      line-height: 2rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 64rem) {
    .hl--sub-l .hl--sub {
      font-size: 1.75rem;
      line-height: 2rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 80rem) {
    .hl--sub-l .hl--sub {
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 90rem) {
    .hl--sub-l .hl--sub {
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: 1px
    }
  }

  .hl--sub-m .hl--sub {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px
  }

  @media (min-width: 48rem) {
    .hl--sub-m .hl--sub {
      font-size: 1.5rem;
      line-height: 1.875rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 64rem) {
    .hl--sub-m .hl--sub {
      font-size: 1.5rem;
      line-height: 1.875rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 80rem) {
    .hl--sub-m .hl--sub {
      font-size: 1.5rem;
      line-height: 1.875rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 90rem) {
    .hl--sub-m .hl--sub {
      font-size: 1.5rem;
      line-height: 1.875rem;
      letter-spacing: 1px
    }
  }

  .hl--sub-s .hl--sub {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px
  }

  @media (min-width: 48rem) {
    .hl--sub-s .hl--sub {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 64rem) {
    .hl--sub-s .hl--sub {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 80rem) {
    .hl--sub-s .hl--sub {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 90rem) {
    .hl--sub-s .hl--sub {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.5px
    }
  }

  .hl--sub-xs .hl--sub {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px
  }

  @media (min-width: 48rem) {
    .hl--sub-xs .hl--sub {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 64rem) {
    .hl--sub-xs .hl--sub {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 80rem) {
    .hl--sub-xs .hl--sub {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 90rem) {
    .hl--sub-xs .hl--sub {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.5px
    }
  }

  .hl-xxl {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 1px
  }

  @media (min-width: 48rem) {
    .hl-xxl {
      font-size: 2.5rem;
      line-height: 2.75rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 64rem) {
    .hl-xxl {
      font-size: 2.5rem;
      line-height: 2.75rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 80rem) {
    .hl-xxl {
      font-size: 3rem;
      line-height: 3.25rem;
      letter-spacing: 1.5px
    }
  }

  @media (min-width: 90rem) {
    .hl-xxl {
      font-size: 3rem;
      line-height: 3.25rem;
      letter-spacing: 1.5px
    }
  }

  .hl-xl {
    font-size: 1.5rem;
    line-height: 1.875rem;
    letter-spacing: 1px
  }

  @media (min-width: 48rem) {
    .hl-xl {
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 64rem) {
    .hl-xl {
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 80rem) {
    .hl-xl {
      font-size: 2.5rem;
      line-height: 2.75rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 90rem) {
    .hl-xl {
      font-size: 2.5rem;
      line-height: 2.75rem;
      letter-spacing: 1px
    }
  }

  .hl-l {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px
  }

  @media (min-width: 48rem) {
    .hl-l {
      font-size: 1.75rem;
      line-height: 2rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 64rem) {
    .hl-l {
      font-size: 1.75rem;
      line-height: 2rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 80rem) {
    .hl-l {
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 90rem) {
    .hl-l {
      font-size: 2rem;
      line-height: 2.25rem;
      letter-spacing: 1px
    }
  }

  .hl-m {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px
  }

  @media (min-width: 48rem) {
    .hl-m {
      font-size: 1.5rem;
      line-height: 1.875rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 64rem) {
    .hl-m {
      font-size: 1.5rem;
      line-height: 1.875rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 80rem) {
    .hl-m {
      font-size: 1.5rem;
      line-height: 1.875rem;
      letter-spacing: 1px
    }
  }

  @media (min-width: 90rem) {
    .hl-m {
      font-size: 1.5rem;
      line-height: 1.875rem;
      letter-spacing: 1px
    }
  }

  .hl-s {
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.5px
  }

  @media (min-width: 48rem) {
    .hl-s {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 64rem) {
    .hl-s {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 80rem) {
    .hl-s {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 90rem) {
    .hl-s {
      font-size: 1.25rem;
      line-height: 1.75rem;
      letter-spacing: 0.5px
    }
  }

  .hl-xs {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.5px
  }

  @media (min-width: 48rem) {
    .hl-xs {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 64rem) {
    .hl-xs {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 80rem) {
    .hl-xs {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.5px
    }
  }

  @media (min-width: 90rem) {
    .hl-xs {
      font-size: 1rem;
      line-height: 1.5rem;
      letter-spacing: 0.5px
    }
  }

  :root {
    --headline-color: var(--text-color-headlines);
    --headline-color-eyebrow: var(--text-color-headlines)
  }

  .headline {
    text-align: left;
    color: var(--headline-color)
  }

  .headline__main, .headline__sub, .headline__eyebrow {
    display: block
  }

  .headline--align-center {
    text-align: center
  }

  .headline--align-right {
    text-align: right
  }

  .headline .headline__eyebrow {
    color: var(--headline-color-eyebrow)
  }

  .headline--inverted {
    --headline-color: var(--text-color-invert-headlines);
    --headline-color-eyebrow: var(--text-color-invert-headlines)
  }

  .module-headline--column {
    grid-column: 1/-1
  }

  @media (min-width: 64rem) {
    .module-headline--column {
      grid-column: 3/8 span
    }
  }

  .module-headline .hl-l .hl--sub {
    margin-top: var(--spacing-vertical-xs);
    color: var(--text-color-headlines)
  }

  /* icons */
  .icon {
    display: block
  }

  .icon svg {
    height: 100%;
    width: 100%
  }

  .icon use {
    pointer-events: none
  }

  .svg-scale-wrapper {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 100%
  }

  .svg-scale-wrapper > svg {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%
  }

  /* buttons */
  :root {
    --button-primary-background-default: var(--interaction-color-link);
    --button-primary-border-default: var(--interaction-color-link);
    --button-primary-text-default: var(--color-white);
    --button-primary-background-hover: var(--interaction-color-hover);
    --button-primary-border-hover: var(--interaction-color-hover);
    --button-primary-text-hover: var(--color-white);
    --button-primary-background-focus: var(--interaction-color-focused);
    --button-primary-border-focus: var(--interaction-color-focused);
    --button-primary-text-focus: var(--color-white);
    --button-primary-outline-focus: rgba(102, 102, 102, 0.1);
    --button-secondary-background-default: transparent;
    --button-secondary-border-default: var(--interaction-color-link);
    --button-secondary-text-default: var(--interaction-color-link);
    --button-secondary-background-hover: var(--interaction-color-hover);
    --button-secondary-border-hover: var(--interaction-color-hover);
    --button-secondary-text-hover: var(--color-white);
    --button-secondary-background-focus: var(--interaction-color-focused);
    --button-secondary-border-focus: var(--interaction-color-focused);
    --button-secondary-text-focus: var(--color-white);
    --button-secondary-outline-focus: rgba(102, 102, 102, 0.1);
    --button-tertiary-background-default: transparent;
    --button-tertiary-border-default: transparent;
    --button-tertiary-text-default: var(--interaction-color-link);
    --button-tertiary-underline-default: var(--interaction-color-link);
    --button-tertiary-background-hover: transparent;
    --button-tertiary-border-hover: transparent;
    --button-tertiary-text-hover: var(--interaction-color-hover);
    --button-tertiary-underline-hover: var(--interaction-color-hover);
    --button-tertiary-background-focus: var(--color-highlight-light);
    --button-tertiary-border-focus: var(--interaction-color-focused);
    --button-tertiary-text-focus: var(--interaction-color-focused);
    --button-tertiary-underline-focus: var(--interaction-color-focused);
    --button-tertiary-outline-focus: rgba(102, 102, 102, 0.1)
  }

  .button-link.button-link--inverted {
    --button-primary-background-default: var(--interaction-color-link);
    --button-primary-border-default: var(--interaction-color-link);
    --button-primary-text-default: var(--color-white);
    --button-primary-background-hover: var(--interaction-color-hover);
    --button-primary-border-hover: transparent;
    --button-primary-text-hover: var(--color-white);
    --button-primary-background-focus: var(--interaction-color-focused);
    --button-primary-border-focus: transparent;
    --button-primary-text-focus: var(--color-white);
    --button-primary-outline-focus: rgba(102, 102, 102, 0.1)
  }

  .button-link button, .button-link a {
    font-family: var(--font-family-frutiger);
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75rem;
    letter-spacing: .5px;
    text-decoration: none;
    text-align: center;
    border: 0;
    display: inline-block;
    padding-top: .625rem;
    padding-bottom: .625rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 3px;
    transition: all ease-in-out .3s;
    transition-property: background-color, border, outline, box-shadow, color;
    background-color: var(--button-primary-background-default);
    border-color: var(--button-primary-border-default);
    color: var(--button-primary-text-default)
  }

  .button-link button:hover, .button-link a:hover {
    background-color: var(--button-primary-background-hover);
    color: var(--button-primary-text-hover);
    border-color: var(--button-primary-border-hover);
    cursor: pointer
  }

  .button-link button:focus, .button-link button:active, .button-link a:focus, .button-link a:active {
    background-color: var(--button-primary-background-focus);
    color: var(--button-primary-text-focus);
    border-color: var(--button-primary-border-focus)
  }

  .button-link button:focus, .button-link a:focus {
    outline-width: 0
  }

  .button-link button:disabled, .button-link a:disabled {
    pointer-events: none;
    opacity: .4
  }

  [dir=rtl] .button-link button, [dir=rtl] .button-link a {
    text-align: right
  }

  @media (min-width: 48rem) {
    .button-link button, .button-link a {
      text-align: left
    }
  }

  .button-link button.button-link--internal:not(.button-link--icon-left):hover .button-link__content .icon, .button-link a.button-link--internal:not(.button-link--icon-left):hover .button-link__content .icon {
    right: -0.25rem
  }

  .button-link button.button-link--internal:not(.button-link--icon-left):hover .button-link__content::after, .button-link a.button-link--internal:not(.button-link--icon-left):hover .button-link__content::after {
    width: calc(100% + .25rem)
  }

  .button-link--icon-rounded button.button-link--icon, .button-link--icon-rounded a.button-link--icon {
    border-radius: 50%;
    height: 3rem;
    padding: .6em;
    width: 3rem
  }

  .button-link--icon-rounded .icon {
    width: 100%;
    height: 100%;
    fill: currentColor
  }

  .button-link--disabled button, .button-link--disabled a {
    pointer-events: none;
    opacity: .4
  }

  .button-link__content {
    pointer-events: none
  }

  .button-link--secondary.button-link--inverted {
    --button-secondary-background-default: transparent;
    --button-secondary-border-default: var(--interaction-color-grey-link);
    --button-secondary-text-default: var(--interaction-color-grey-link);
    --button-secondary-background-hover: var(--interaction-color-hover);
    --button-secondary-border-hover: var(--interaction-color-hover);
    --button-secondary-text-hover: var(--color-white);
    --button-secondary-background-focus: var(--interaction-color-focused);
    --button-secondary-border-focus: var(--interaction-color-focused);
    --button-secondary-text-focus: var(--color-white);
    --button-secondary-outline-focus: rgba(102, 102, 102, 0.1)
  }

  .button-link--secondary button, .button-link--secondary a {
    background-color: var(--button-secondary-background-default);
    border-color: var(--button-secondary-border-default);
    color: var(--button-secondary-text-default);
    border-width: 1px;
    border-style: solid;
    padding-top: .563rem;
    padding-bottom: .563rem
  }

  .button-link--secondary button:hover, .button-link--secondary a:hover {
    background-color: var(--button-secondary-background-hover);
    color: var(--button-secondary-text-hover);
    border-color: var(--button-secondary-border-hover)
  }

  .button-link--secondary button:focus, .button-link--secondary button:active, .button-link--secondary a:focus, .button-link--secondary a:active {
    background-color: var(--button-secondary-background-focus);
    color: var(--button-secondary-text-focus);
    border-color: var(--button-secondary-border-focus)
  }

  .button-link--secondary button:focus, .button-link--secondary a:focus {
    outline-color: var(--button-secondary-outline-default)
  }

  .button-link--link.button-link--inverted, .button-link--tertiary.button-link--inverted {
    --button-tertiary-background-default: transparent;
    --button-tertiary-border-default: transparent;
    --button-tertiary-text-default: var(--interaction-color-grey-link);
    --button-tertiary-underline-default: var(--interaction-color-grey-link);
    --button-tertiary-background-hover: transparent;
    --button-tertiary-border-hover: transparent;
    --button-tertiary-text-hover: var(--interaction-color-grey-hover);
    --button-tertiary-underline-hover: var(--interaction-color-grey-hover);
    --button-tertiary-background-focus: transparent;
    --button-tertiary-border-focus: var(--interaction-color-focused);
    --button-tertiary-text-focus: var(--interaction-color-grey-focused);
    --button-tertiary-underline-focus: var(--interaction-color-grey-focused);
    --button-tertiary-outline-focus: rgba(102, 102, 102, 0.1)
  }

  .button-link--link button, .button-link--link a, .button-link--tertiary button, .button-link--tertiary a {
    border-color: var(--button-tertiary-border-default);
    color: var(--button-tertiary-text-default);
    background-color: rgba(0, 0, 0, 0);
    font-family: var(--font-family-frutiger);
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;
    border: 0;
    box-shadow: none;
    padding: 0;
    padding-bottom: .1875rem;
    position: relative;
    width: auto;
    text-align: left
  }

  .button-link--link button .button-link__content::after, .button-link--link a .button-link__content::after, .button-link--tertiary button .button-link__content::after, .button-link--tertiary a .button-link__content::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0;
    height: .125rem;
    transition: all ease-in-out .3s;
    background-color: var(--button-tertiary-underline-default)
  }

  .button-link--link button .icon svg, .button-link--link a .icon svg, .button-link--tertiary button .icon svg, .button-link--tertiary a .icon svg {
    transition: fill ease-in-out .3s;
    fill: var(--button-tertiary-text-default)
  }

  .button-link--link button:hover, .button-link--link button:focus, .button-link--link button:active, .button-link--link a:hover, .button-link--link a:focus, .button-link--link a:active, .button-link--tertiary button:hover, .button-link--tertiary button:focus, .button-link--tertiary button:active, .button-link--tertiary a:hover, .button-link--tertiary a:focus, .button-link--tertiary a:active {
    background-color: rgba(0, 0, 0, 0)
  }

  .button-link--link button:hover .button-link__content::after, .button-link--link button:focus .button-link__content::after, .button-link--link button:active .button-link__content::after, .button-link--link a:hover .button-link__content::after, .button-link--link a:focus .button-link__content::after, .button-link--link a:active .button-link__content::after, .button-link--tertiary button:hover .button-link__content::after, .button-link--tertiary button:focus .button-link__content::after, .button-link--tertiary button:active .button-link__content::after, .button-link--tertiary a:hover .button-link__content::after, .button-link--tertiary a:focus .button-link__content::after, .button-link--tertiary a:active .button-link__content::after {
    width: 100%
  }

  .button-link--link button:hover, .button-link--link a:hover, .button-link--tertiary button:hover, .button-link--tertiary a:hover {
    color: var(--button-tertiary-text-hover)
  }

  .button-link--link button:hover .icon svg, .button-link--link a:hover .icon svg, .button-link--tertiary button:hover .icon svg, .button-link--tertiary a:hover .icon svg {
    fill: var(--button-tertiary-text-hover)
  }

  .button-link--link button:hover .button-link__content::after, .button-link--link a:hover .button-link__content::after, .button-link--tertiary button:hover .button-link__content::after, .button-link--tertiary a:hover .button-link__content::after {
    background-color: var(--button-tertiary-underline-hover)
  }

  .button-link--link button:focus, .button-link--link button:active, .button-link--link a:focus, .button-link--link a:active, .button-link--tertiary button:focus, .button-link--tertiary button:active, .button-link--tertiary a:focus, .button-link--tertiary a:active {
    color: var(--button-tertiary-text-focus)
  }

  .button-link--link button:focus .icon svg, .button-link--link button:active .icon svg, .button-link--link a:focus .icon svg, .button-link--link a:active .icon svg, .button-link--tertiary button:focus .icon svg, .button-link--tertiary button:active .icon svg, .button-link--tertiary a:focus .icon svg, .button-link--tertiary a:active .icon svg {
    fill: var(--button-tertiary-text-focus)
  }

  .button-link--link button:focus .button-link__content::after, .button-link--link button:active .button-link__content::after, .button-link--link a:focus .button-link__content::after, .button-link--link a:active .button-link__content::after, .button-link--tertiary button:focus .button-link__content::after, .button-link--tertiary button:active .button-link__content::after, .button-link--tertiary a:focus .button-link__content::after, .button-link--tertiary a:active .button-link__content::after {
    background-color: var(--button-tertiary-underline-focus)
  }

  .button-link--link button:focus, .button-link--link a:focus, .button-link--tertiary button:focus, .button-link--tertiary a:focus {
    background-color: var(--button-tertiary-background-focus);
    outline: 0
  }

  .button-link--link button:disabled, .button-link--link a:disabled, .button-link--tertiary button:disabled, .button-link--tertiary a:disabled {
    opacity: .4
  }

  [dir=rtl] .button-link--link button .button-link__content::after, [dir=rtl] .button-link--link a .button-link__content::after, [dir=rtl] .button-link--tertiary button .button-link__content::after, [dir=rtl] .button-link--tertiary a .button-link__content::after {
    left: auto;
    right: 0
  }

  .button-link--link .button-link--disabled button, .button-link--link .button-link--disabled a, .button-link--tertiary .button-link--disabled button, .button-link--tertiary .button-link--disabled a {
    pointer-events: none;
    opacity: .4
  }

  .button-link--tertiary {
    display: inline-flex;
    flex: 0 0 auto;
    justify-content: center
  }

  .button-link--tertiary button, .button-link--tertiary a {
    font-family: var(--font-family-frutiger);
    font-weight: 300;
    font-style: normal;
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: .563rem;
    padding-bottom: .563rem;
    display: flex;
    flex: 0 0 auto
  }

  .button-link--tertiary .button-link__content {
    position: relative;
    padding-bottom: 0.125rem
  }

  .button-link--link .button-link--icon {
    position: relative;
    padding-right: 1.75rem
  }

  .button-link--link .button-link--icon .icon {
    position: absolute;
    right: 0;
    width: 1.5rem;
    height: 1.5rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all ease-in-out .3s
  }

  [dir=rtl] .button-link--link .button-link--icon {
    padding-left: 1.75rem;
    padding-right: 0
  }

  [dir=rtl] .button-link--link .button-link--icon .button-link__content::after {
    left: auto;
    right: 0
  }

  [dir=rtl] .button-link--link .button-link--icon .icon {
    left: 0;
    right: auto
  }

  .button-link--link .button-link--icon-left {
    padding-left: 1.75rem;
    padding-right: 0
  }

  .button-link--link .button-link--icon-left .button-link__content::after {
    margin-left: 1.75rem
  }

  .button-link--link .button-link--icon-left:hover .button-link__content::after, .button-link--link .button-link--icon-left:focus .button-link__content::after {
    width: calc(100% - 1.75rem)
  }

  .button-link--link .button-link--icon-left .icon {
    left: 0;
    right: auto
  }

  .button-link--link.button-link--overlay {
    max-width: 25.13rem
  }

  .button-link--link.button-link--overlay button, .button-link--link.button-link--overlay a {
    font-size: 1.25rem;
    line-height: 1.6;
    padding-left: 2.25rem
  }

  .button-link--link.button-link--overlay button .button-link__content::after, .button-link--link.button-link--overlay a .button-link__content::after {
    margin-left: 2.25rem
  }

  .button-link--link.button-link--overlay button:hover::after, .button-link--link.button-link--overlay button:focus::after, .button-link--link.button-link--overlay a:hover::after, .button-link--link.button-link--overlay a:focus::after {
    width: calc(100% - 2.25rem)
  }

  .button-link--link.button-link--overlay button .icon, .button-link--link.button-link--overlay a .icon {
    top: -0.125rem;
    width: 2.25rem;
    height: 2.25rem;
    transform: translateY(0)
  }

  .button-group {
    display: flex;
    flex-wrap: wrap
  }

  .button-group button, .button-group a {
    width: 100%
  }

  @media (min-width: 48rem) {
    .button-group {
      flex-direction: row-reverse;
      margin-left: -0.25rem;
      margin-right: -0.25rem;
      justify-content: flex-end
    }

    .button-group button, .button-group a {
      width: auto
    }
  }

  .button-group .button-link {
    display: inline-block;
    flex: 1 0 100%;
    text-align: center
  }

  .button-group .button-link:not(:last-child) {
    margin-bottom: .5rem
  }

  @media (min-width: 48rem) {
    .button-group .button-link {
      flex: 0 1 auto;
      margin-left: .25rem;
      margin-right: .25rem
    }
  }

  @media (min-width: 48rem) {
    .button-group--regular-order {
      flex-direction: row;
      justify-content: flex-start
    }
  }

  .button-plain {
    display: inline;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit
  }

  .button-toggle {
    display: flex;
    flex: 0 0 auto
  }

  .button-toggle .icon .svg-scale-wrapper {
    transform: rotate(0);
    transition: all .25s ease-in-out
  }

  .button-toggle--expanded .icon .svg-scale-wrapper {
    transform: rotate(180deg)
  }

  /* divider */
  .divider {
    border: none;
    background-color: var(--border-color-inactive);
    height: 1px;
    width: 100%;
    -webkit-margin-before: 0;
    margin-block-start: 0
  }

  .divider--dark {
    background-color: var(--border-color-active);
    height: 0.125rem
  }

  .text--eyebrow {
      text-transform: uppercase;
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.5px;
      font-family: var(--font-family-frutiger);
      font-weight: 500;
      font-style: normal
  }

  .text--eyebrow-l,
  .text--eyebrow-l--light,
  .text--eyebrow-s,
  .text--eyebrow-s--light {
      text-transform: uppercase
  }

  .text--eyebrow-l {
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.5px;
      font-family: var(--font-family-frutiger);
      font-weight: 500;
      font-style: normal
  }

  @media (min-width: 64rem) {
      .text--eyebrow-l {
          font-size: 1rem;
          line-height: 1.25rem;
          letter-spacing: 0.5px;
          font-family: var(--font-family-frutiger);
          font-weight: 500;
          font-style: normal
      }
  }

  .text--eyebrow-s {
      font-size: 0.75rem;
      line-height: 1rem;
      letter-spacing: 0.5px;
      font-family: var(--font-family-frutiger);
      font-weight: 500;
      font-style: normal
  }

  .general-article-stage__details {
      margin-top: var(--spacing-vertical-s)
  }
