/* stylelint-disable selector-class-pattern */

:root {
    --text-color-body: #606a76;
    --text-color-text: var(--text-color-body);
    --spacing-vertical-m: 1.5rem;
    --spacing-vertical-xxl: 3.5rem;
    --section-margin: 1.5rem;
}


/* section */
@media (min-width: 22.5rem) {
    :root {
        --section-margin: 1.5rem;
    }
}

@media (min-width: 48rem) {
    :root {
        --section-margin: 2rem;
    }
}

@media (min-width: 64rem) {
    :root {
        --section-margin: 2rem;
    }
}

@media (min-width: 80rem) {
    :root {
        --section-margin: 4rem;
    }
}

@media (min-width: 90rem) {
    :root {
        --section-margin: 6rem;
    }
}

@media (min-width: 120rem) {
    :root {
        --section-margin: 2rem;
    }
}

main .section {
    margin: 0 auto;
    margin-top: var(--spacing-vertical-xxl);
    margin-bottom: var(--spacing-vertical-xxl);
    padding-left: var(--section-margin);
    padding-right: var(--section-margin);
    max-width: 102rem;
    box-sizing: border-box
}


/* text */
.text {
    color: var(--text-color-text)
}

.text>* {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit
}

.text--display-s,
.text--display-m,
.text--display-l {
    font-family: var(--font-family-frutiger);
    font-weight: 900;
    font-style: normal
}

.text--display-s {
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: 1.5px
}

@media (min-width: 48rem) {
    .text--display-s {
        font-size: 3rem;
        line-height: 3.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 64rem) {
    .text--display-s {
        font-size: 3rem;
        line-height: 3.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 80rem) {
    .text--display-s {
        font-size: 4rem;
        line-height: 4.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 90rem) {
    .text--display-s {
        font-size: 4rem;
        line-height: 4.25rem;
        letter-spacing: 1.5px
    }
}

.text--display-m {
    font-size: 2.5rem;
    line-height: 2.75rem;
    letter-spacing: 1.5px
}

@media (min-width: 48rem) {
    .text--display-m {
        font-size: 4rem;
        line-height: 4.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 64rem) {
    .text--display-m {
        font-size: 4rem;
        line-height: 4.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 80rem) {
    .text--display-m {
        font-size: 5rem;
        line-height: 5.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 90rem) {
    .text--display-m {
        font-size: 5rem;
        line-height: 5.25rem;
        letter-spacing: 1.5px
    }
}

.text--display-l {
    font-size: 3.75rem;
    line-height: 4rem;
    letter-spacing: 1.5px
}

@media (min-width: 48rem) {
    .text--display-l {
        font-size: 5rem;
        line-height: 5.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 64rem) {
    .text--display-l {
        font-size: 5rem;
        line-height: 5.25rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 80rem) {
    .text--display-l {
        font-size: 6rem;
        line-height: 6.5rem;
        letter-spacing: 1.5px
    }
}

@media (min-width: 90rem) {
    .text--display-l {
        font-size: 6rem;
        line-height: 6.5rem;
        letter-spacing: 1.5px
    }
}
