.collapse-container {
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

@media (min-width: 64rem) {
  .collapse-container {
    width: calc((100vw + 1.25rem) * 2/3);
  }
}

@media (min-width: 80rem) {
  .collapse-container {
    width: calc((100vw + 3.25rem) * 2/3);
  }
}

@media (min-width: 90rem) {
  .collapse-container {
    width: calc((100vw + 5.25rem) * 2/3);
  }
}

@media (min-width: 102rem) {
  .collapse-container {
      max-width: 71.5rem !important;
  }
}

.collapse > div:nth-child(1) {
  margin-bottom: var(--spacing-vertical-s);
  text-align: left;
  color: var(--headline-color);
  font-size: 1.75rem;
  font-family: var(--font-family-frutiger);
  font-weight: 700;
  font-style: normal;
  line-height: 2rem;
  letter-spacing: 0.01em;
}

.collapse > div:nth-child(2) {
  height: calc(var(--spacing-vertical-xxl) + 3rem);
  min-height: calc(var(--spacing-vertical-xxl) + 3rem);
  font-family: var(--font-family-frutiger);
  transition: height 0.5s ease-out;
  overflow: hidden;
  position: relative;
  letter-spacing: 0.005em;
}

.expanded-text .collapse > div:nth-child(2) {
  max-height: none;
}

.collapsed-text .collapse > div:nth-child(2)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: var(--spacing-vertical-xxl);
  opacity: 1;
  transition: opacity .2s ease-in-out;
  background-image: linear-gradient(to bottom, rgb(255 255 255 / 0%), var(--bg-color-primary) 60%);
}

main .block.collapse p:not(:first-child) {
  padding-top: 1.5rem;
}

main .block.collapse p > strong {
  font-weight: 700;
}

main .block.collapse p:not(.button-container) > a {
  display: inline-block;
  position: relative;
  color: var(--text-color-body);
  font-weight: normal;
  text-decoration: none;
  transition: color .75s;
  outline: none;
}

main .block.collapse p:not(.button-container) > a:hover {
  color: var(--text-color-link-hover);
}

main .block.collapse p:not(.button-container) > a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--button-tertiary-underline-default);
  animation-duration: .75s;
}

main .block.collapse p:not(.button-container) > a:hover::after {
  background-color: var(--button-tertiary-underline-hover);
  animation-name: hover;
}

main .block.collapse p.button-container {
   margin-top: var(--spacing-vertical-s);
   padding-bottom: var(--spacing-vertical-s);
 }

main .block.collapse a {
  font-weight: 500;
}

main .block.collapse a.button.primary {
  padding-bottom: 10px;
}

.expanded-text .collapse > div:nth-child(2)::after {
  opacity: 0;
  pointer-events: none
}

.expanded-text .collapse > div:nth-child(4) {
  margin-top: var(--spacing-vertical-s);
}

.expanded-text .collapse > div:nth-child(3), .collapsed-text .collapse > div:nth-child(4) {
  display:none;
}

main .block.collapse .arrow {
  border: solid var(--button-tertiary-text-default);
  border-width: 0 2px 2px 0;
  display: inline-block;
  cursor: pointer;
  width: 9px;
  height: 9px;
  margin-left: 10px;
}

main .block.collapse .up {
  transform: rotate(-135deg);
}

main .block.collapse .down {
  transform: rotate(45deg);
  margin-bottom: 3px;
}
